/*==  Responsive  ==*/

form.vendor-detail .step3-container span.multiselect-native-select .btn-group .multiselect.dropdown-toggle.btn.btn-default {
  margin-top: 0;
}
section.add-new-vendor-popup table td .multiselect.dropdown-toggle.btn.btn-default {
  margin-top: 0;
}

@media ( max-width:1500px ){
table.ss [tooltip]:hover::before {
  margin-left: -200px;
  margin-top: 25px;
  width: 240px;
}
}



@media ( max-width: 1200px ){
.container{padding: 0 12px !important; }
.left-banner{width: 58%;}
.my-navbar > li{width: 156px;}
.my-navbar > li:nth-child(4) > a::before {left: 21px; top: 29px;}
.my-navbar > li:nth-child(6) > a::before {left: 12px; top: 32px;}
.my-navbar > li:nth-child(5) > a::before {height: 21px; left: 12px; top: 30px; width: 25px; background-size: 100%;}
.my-navbar > li.active:nth-child(5) > a::before, .my-navbar > li:nth-child(5):hover > a::before {background-position: 0 -28px;}
.my-navbar > li:nth-child(3) > a::before{left: 13px;}
.my-navbar > li:nth-child(2) > a::before {left: 7px; top: 26px; width: 25px; background-size: 100%;}
.my-navbar > li.active:nth-child(2) > a::before, .my-navbar > li:nth-child(2):hover > a::before {background-position: 0 -21px;}
.my-navbar > li:first-child > a::before {background-size: 100% auto; left: 7px; top: 25px; width: 24px;}
.my-navbar > li.active:nth-child(1) > a::before, .my-navbar > li:nth-child(1):hover > a::before {background-position: 0 -23px;}
.my-block {margin-right: 15px; width: 225px;}
.my-tab1{width: 26%;}
.tab-area{width: 74%;}
.select-grp select.form-control{width: 94%;}
.select-grp.border-line select.form-control {width: 100%;}
.border-line .form-control.my-txt-fleid.width50.safety-equip7 {width: 143px;}
/*.form-group1 > div.my-div {width: 48%;}*/
table.my-table th{font-size: 12px; padding: 7px 15px;}
.right-signup-form .form-group1 > div.my-div { width: 100% !important; padding: 0;}
#forget-password .form-group1 > div.my-div{width: 100% !important;}
#addtenantModal .modal { padding: 0 !important;}
.modal.in .modal-dialog label.error { margin: 2px auto 0 !important; font-size: 11px; bottom: -20px;}
.form-group1 > div.my-div.width150 { margin: 13px auto 4px auto; width: auto !important; padding-right: 0;}
/*.form-group1 > div.my-div { margin-bottom: 0;}*/
.form-control.my-txt-fleid { max-width: 100%;}
.form-group1 { margin: 3px auto;}
a.edit-btn { margin-top: 0;}  
.form-group1 > div.my-div.width150 .delete-service, .delete-row  { margin: 0 auto !important;}
.form-group > li {  width: 33%;}
.form-control.width50, #tenant_list ul .my-col { width:139px; float: left !important;}
.form-group > li .upload-btn { width: 140px;}
.width50 .form-control.my-txt-fleid { width: 100%; max-width: none;} 
.properties-page .form-group1 > div.my-div{width: 343px;}
.drsecondproperty .form-control.my-txt-fleid { max-width: 85%;}
.drsecondproperty .form-control.width50, #tenant_list ul .my-col {width: 130px;}
.drpercentage { margin-right: 11px; width: 42% !important;}
.drpercentage input {max-width: 100% !important;}
.drpercentage select {max-width: 100% !important; width: 100% !important;}
.form-group1 > div.my-div { width: 322px;}
.my-col {margin-right: 11px;width: 145px;}
button.my-btn.upload-btn {width: 100%;}
.is_yard_service_provide.drnext { width: 50%;}
.drsecondpanel .my-col.width50 { width: 48% !important;}
.drmyeditproperty .form-group1 .my-div { width: 100% !important;}
.drmyeditproperty .form-group1 .my-div  .form-control.state{ margin-left:0px;}
.drmyeditproperty .form-group1 input { width: 100% !important;margin-bottom:10px;}
.drmyeditproperty .form-group1 select { width: 100% !important;margin-bottom:10px;}
.selected-item { width: 48%;}
.search-area-part { width: 48%;}

.confirm-approve {margin: 174px auto 0; width: 1023px;}
.circle > img {width: 100%;}
.t-maintain .t-outer { margin: 0; width: 250px;}
.confirm-approve .t-left { background-size: 100% auto; left: 92px; top: -12px; width: 211px;}
.t-message .t-outer { margin: 0 0 0 13px; width: 250px;}
.confirm-approve .t-right {background-size: 100% auto; right: 85px; top: -14px; width: 220px;}

select.my-select-1.form-control {width: 87px;}
.drnewaddmsg .form-control.repeat{margin-right: 12px;}

.drnewaddmsg .repeat-every { margin-right: 11px;}
.repeaton.repeat_on { width: 78px;}
.w { padding: 0 !important; width: 80px !important;}
.drsecondpanel .form-group > li { height: auto;}
.add-pet-btn, a.edit-btn, .upadd-tenant, .next { margin-top: 10px; display: inline-block;}
label.error { position: absolute !important;}


/*********landing-page**************/
.container {
  max-width: 990px;
}
.top-banner h2 {
  font-size: 30px;
}
.inckudes {
  width: 50%;
}
.video-sec {
  width: 49%;
}
.footer-link-li {
  width: 47% !important;
}
table.my-table th {
  font-size: 12px;
  padding: 7px 8px;
}
table.my-table td {
  padding: 10px 4px;
}

section.top-banner {
  padding: 40px 20px 20px;
}
/**********28-aug*********/
.my-alert.trail-end-date {
  top: 6px;
  width: auto;
}
.my-table .address_info_right {
  width: 10%;
}
.my-table .address_info_left {
  width: 88%;
}
.dashboard-table .my-table.ss a#sendeTesttText,.dashboard-table .my-table.ss a#sendTesttMaintenanceEmail {
  clear: both;
}

.my-radio [type="radio"]:not(:checked) + label, .my-radio [type="radio"]:checked + label {
  padding-left: 28px;
}
form#property-add-step1 .new-btn-part .add-btn {
  transform: translateY(-10%);
}
form#property-add-step2 .my-col.width100 {
  width: 48% !important;
}
form.vendor-detail .step3-container span.multiselect-native-select .btn-group .multiselect.dropdown-toggle.btn.btn-default {
  margin-top: -6px;
}

form#property-update-step2 ul.form-group.pets_info_ul li.full_li .my-col.width100,form#property-update-step2 li.full_li .my-col.width100 {
  width: 48%!important;
}


form#property-update-step2 .all-tenants ul.form-group .delete-tenant-row {
  display: inline-block;
  margin-top: 27px;
}

section.wb-tenant-page .tenant1 li {
  padding: 10px 6px;
}
.wb-tenant-page .my-list.tttt2222 span {
  width: 50%;
}
.wb-tenant-page .my-list.tttt2222 li.pet-info span {
  width: 32.5%;
}
section.wb-tenant-page .add-pet-btn {
  margin-top: 0;
  padding: 10px 4px;
}
section.wb-tenant-page .my-list.tttt2222 li.em-cont span.em-ph,section.wb-tenant-page .my-list.tttt2222 li.em-cont span.em-name {
  width: 24.5%;
}
.wb-tenant-page .tenant1 ul.btn-group li {
  margin-left: 7px;
  padding: 0;
}
/******30-aug****/
section.wb-leases-page .tab-area .table-content {
  overflow-x: scroll;
}
section.wb-leases-page table td li a.document {
  padding-right: 2px;
  width: 130px!important;
}
section.wb-leases-page table td .upload-btn {
  width: 105px!important;
}
section.wb-leases-page .my-table ul {
  margin-bottom: 0;
}


.wb-messages-page .search-area-part {
  width: 50%;
}
.wb-messages-page .selected-item {
  margin-left: 2%;
  width: 48%;
}

section.add-new-vendor-popup .my-table.text-left td {
  padding: 14px 3px;
  text-align: left;
}
section.add-new-vendor-popup td .my-txtfleid {
  width: 130px;
}




}

@media (max-width:1199px) and (min-width:992px){
form#property-update-step2 .all-tenants ul.form-group > li {
  width: 32%;
}
}

@media ( max-width:1023px ){
.form-control.width50, #tenant_list ul .my-col {width: 100%;}
.properties-page .form-group1 > div.my-div {width: 50%;}
.form-control.width50 {margin-right: 7px;}
.form-control.my-txt-fleid {margin-bottom: 6px;}
.select-grp select.form-control {margin-bottom: 7px;}
.drsecondproperty .form-group > li {width: 50%;}
.form-group1 .my-div.service-provider {float: left !important;width: 100% !important;}
.service-provider .my-col.width50 {float: left;width: 45%;}
.service-provider .my-col.width50.right-pull.mr-rite0 {float: left !important; margin-left: 5px;}
.drsecondpanel .form-group > li { width: 50%;   /*height: 45px;*/ height: auto;}
.morepanel .form-group1 .my-div {width:100% !important;}
.drsecondpanel .my-col.width50 select { width: 100% !important;}
.drsecondpanel .my-col.width50 input { width: 100% !important;}
.drsecondpanel .my-col.width50 .upload-btn {width: 100%;}
.drsecondpanel .my-col.width50 { width: 48.6% !important;}
.selected-item { width:100%;margin-left:0px;}
.search-area-part { width:100%;margin-bottom: 12px;}

.how-works-inner { width: 740px;}
.how-works-inner > h2{font-size: 40px;}
.howit-works .one-third .icon { height: 110px; width: 110px; padding-top: 36px;}
.icon > img {margin: -9px 0 0; width: 46%;}
.one-third:nth-child(2) {margin-left: 118px;}
.howit-works .one-third:nth-child(2) .icon{padding-top: 32px;}
.one-third-wrap::after {background-size: 100% auto; left: 12px; margin: 0 auto; right: 0; top: 152px; width: 76.5%;}
.how-workd-checkout .tick { height: 60px; width: 60px;}
.how-workd-checkout .tick > img { width: 47%;}
.how-workd-checkout {margin: 11.2% auto 0; width: 208px;}
.how-workd-checkout span { font-size: 16px; top: 11px;}
.confirm-approve { width: 740px;  margin: 80px auto 0;}	
.t-maintain .t-outer { width: 200px;}
.confirm-approve .t-left { left: 42px;  top: -35px;  width: 161px;}
.t-message .t-outer {margin: 0 0 0 7px; width: 200px;}
.confirm-approve .t-right {right: 36px; top: -37px; width: 171px;}
.download-app { margin: 78px auto 20px;  padding: 7px 0;}
.download-app label{font-size: 15px;}
.download-app > a{font-size: 15px;  cursor: default;}
.confirm-approve {margin: 128px auto 0;}
.howit-works .one-third p {font-size: 16px;}
.tantent-more-inner img {width: 100%;}
.tantent-more-inner li {width: 20%;}
.tantent-more-inner > ul::after { background-size: 100% auto;  bottom: -63px;  width: 770px;}

/*****************/
form#property-update-step2 .drsecondpanel .my-col.width50 {
  width: 48%!important;
}


}

@media (max-width:991px) and (min-width:980px){
.my-navbar > li {
  padding-left: 36px;
  padding-right: 14px;
  width: auto;
}
}

@media  ( max-width: 991px ){
.container{width: 100% !important;}
.btn-tenant{width: 177px; font-size: 14px;}
.my-table.text-left td { padding: 5px;}
.new-cont-area { padding: 10px 4px;}
.new-cont-area .save, select.my-select-1.form-control, .new-cont-area input { margin: 2px 5px 2px 4px;}
.form-group1 > div.my-div { width: 46% !important;}
/* .form-control.width50 { margin-right: 0;} */
#tenant_list ul .form-control.width50 { width: 140px; margin-right: 6px;}
 #tenant_list ul .my-col { margin-right: 6px}
 a.edit-btn { margin: 10px auto; padding-top: 10px;}
.propertfirst .my-col { width: 100%;}
.tantent-more-inner{background-size: 100%;}
.more-icon { width: 200px;}
/***********landing************/
.container {
  max-width: 760px;
}

.inckudes {
  width: 55%;
}
.video-sec {
  width: 45%;
}
.video-sec video {
  height: 250px;
}
.content {
  margin-left: 18px;
}
.banner-define {
  width: 100%;
}
.signup-form .right-banner {
  padding: 35px 15px 30px;
  width: 410px;
}

.cont-main {
  clear: both;
  float: left;
  margin-top: 20px;
  padding-right: 0;
  padding-top: 0;
  width: 100%;
}
.footer-link-block {
  width: 30% !important;
}
.footer-link-li {
  margin-right: 0;
  width: 100% !important;
}

.fttr-block.subscribe_ten {
  margin-right: 2%;
  width: 33%;
}
footer .fttr-block.right-pull {
  width: 35% !important;
}
.slider-main {
  border-right: 3px solid #ddd;
}
.slider-sidebar {
  border-left: 0 ;
}
.my-popup.next-step.checkout-confirmed .popup-cont {
  margin-left: 10%;
}
.next-step.my-popup {
  width: 100% !important;
}
/****28-aug*******/
.heading  span {
  font-size: 14px;
}

.dashboard-table table.my-table td a.expiring,.dashboard-table table.my-table td a.zero {
  text-align: left !important;
}
.table-content.signup-table.dashboard-table table.ss [tooltip]:hover::before {
  margin-left: -100px;
}
.right-header.inner-header {
  margin: -3px 0 0;
  width: 200px;
}
.my-dropdown {
  top: 65px;
}
.my-alert.trail-end-date {
  left: 25%;
}
form#property-add-step1 .my-panel.mr-btm0 .form-group1 > div.my-div {
  margin-bottom: 0;
}
.step3-container .signup-3.signup-tpay {
  margin-bottom: 20px;
}
form#property-update-step2 .drsecondpanel .form-group > li {
  width: 49%;
}
form#property-update-step2 .width50.currency_text_box .form-control.my-txt-fleid {
  margin-right: 0;
  width: calc(100% - 25px);
}
section.wb-tenant-page .my-list.tttt2222 li.em-cont span.em-ph, section.wb-tenant-page .my-list.tttt2222 li.em-cont span.em-name {
 min-height: 75px;
width: 50%;
}
.wb-tenant-page .form-group.up-leaseee > li {
  width: 100%;
}
/*******30-aug*****/
section.wb-leases-page .ui-tabs-panel.ui-widget-content.ui-corner-bottom table td:nth-child(3) {
  min-width: 77px;
}
section.wb-messages-page form#send_sch_message .cross2 > label {
  max-width: 80%;
  width: auto;
}
section.wb-messages-page .my-tab1 .calender {
  background-position: 10px center;
  padding-left: 30px;
}
section.wb-messages-page .my-tab.ui-tabs-nav li {
  padding: 0 10px;
}
section.wb-messages-page .btn-tenant.my-btn-tennt.my-vendor {
  margin: 20px 5px 0;
}
section.add-new-vendor-popup .btn-tenant.my-btn-tennt.my-vendor {
  margin: 20px 10px 0;
}
section.add-new-vendor-popup .vendor {
  background-position: 10px center;
  padding-left: 35px !important;
}
section.add-new-vendor-popup td .my-txtfleid {
  width: 90px;
}





}

@media  ( max-width: 979px ){
.dr-logo { width: 220px;}
.dr-logo img{ width: 100%;}
.right-header{margin: 0px;}
.left-banner h3{font-size: 24px;}
.message-img, .mainstaince-img{background-size: 78px;}
.left-banner li{padding: 0 0 37px 100px;}
.left-banner ul li h4{font-size: 22px;}
.right-banner { padding: 16px; width: 350px;}
.left-banner {width: 50%;}
.dr-testimonial h2{margin-bottom: 26px; font-size: 24px;} 
.dr-testimonial{padding: 22px 0;}
.fttr-block {min-height: 230px; width: 49%;float:left !important;}
.fttr-block.right-pull {width: 49% !important;}
.my-navbar{display: none;}
nav {padding: 9px 0 2px;}
.my-navbar > li {padding: 0 0 0 52px; text-align: left; width: 100%; border-bottom: 1px solid #015485; border-left: 0px;}
.my-navbar > li:first-child > a::before{top: 16px;}
.my-navbar > li:nth-child(2) > a::before{left: 7px; top: 16px;}
.my-navbar > li:nth-child(3) > a::before{left: 7px; top: 16px;}
.my-navbar > li:nth-child(4) > a::before{left: 7px; top: 16px;}
.my-navbar > li:nth-child(5) > a::before{left: 7px; top: 16px;}
.my-navbar > li:nth-child(6) > a::before{left: 7px; top: 16px;}
.my-navbar > li > a{padding: 17px 0;}
.right-header > ul.profile { margin: 11px 0;}
.my-navbar > li:last-child{border: 0px;}
.my-block {width: 23%;}
.border-line .form-control.my-txt-fleid.width50.safety-equip7 { width: 112px;  margin: 0 1% 9px 0;}
.new-btn-part .edit-btn.add-more-service.btn-block { padding: 10px 0; width: 204px !important;}
.new-btn-part .edit-btn.add-new-service.btn-block { padding: 9px 0; width: 192px !important;}
label.label2 {font-size: 12px;}
.tenant1 ul.btn-group li a{font-size: 12px;}
.right-signup-form .form-control.my-txt-fleid {     margin-right: 1.3%;}
.form-control.width50, #tenant_list ul .my-col, .form-group > li .upload-btn {  float: left !important;}
#tenant_list ul .form-control.width50 { width: 110px; margin-right: 5px;}
.form-group > li .upload-btn { font-size: 12px;}
.upload-btn:after { display: none;}
 #tenant_list ul .my-col { margin-right: 5px}
 a.edit-btn { margin: 10px auto; padding-top: 10px;}
.my-tenant-btn .next { width: 30%; font-size: 17px; height: auto; margin: 0px 10px 0px; padding: 5px;}
table.my-table td { padding: 20px 10px;}
table.my-table td a { text-align: center !important; text-decoration: none !important;}
.my-link { font-size: 15px; color: #565656;}
.border-line1 { display: none;}
.signup-3 { padding: 20px;}
.tenant1 li{padding: 10px 10px;}
.tenant1 ul.btn-group li a {padding: 10px 16px 10px 33px;}
/* .my-popup.save-later.incomplete_pop { width: 87% !important;} */
.howit-works {padding: 30px 0 46px; width: 100%;}
.right-signup-form  .my-div{width: 100% !important;}
#forget-password .my-div { width: 100% !important;}
.usetenantag {width:89%;}
.usetenantag li{font-size: 17px;}
.repeaton.repeat_on {width: 120px;}

.drnewaddmsg .repeat-every {
  margin-right: 0;
  width: 100%;
}
.drnewaddmsg .form-control.repeat {
  margin: 0 12px 15px 0;
}

.drnewaddmsg .every{width:120px !important;}
}


@media (max-width:1199px) and (min-width:768px){
.my-txtfleid {

  width: 80px;
}
}



@media  (max-width: 767px){
.left-banner { margin: 0; width: 100%;}
.dr-banner{padding: 22px 0;}
.propertfirst .my-col { width: 49%;}
.right-banner { width: 100%;}
.form-group1 > div.my-div {width: 100% !important; padding: 0;margin-bottom: 6px;}
.form-control.width50 { width: 48%;}
.testimonial {background-size: 70px auto; padding: 30px 30px 30px 125px; height: auto;}
.testimonial1 {background-size: 70px auto; padding: 30px 125px 30px 30px; height: auto;}
.testimonial br {display: none;}
.testimonial1 br {display: none;}
.heading > span{font-size: 14px;}
.table-content{overflow: scroll;}
.my-tab1 { width: 100%;}
.tab-area { margin: 20px 0 0;  width: 100%;}
.border-line .form-control.my-txt-fleid.width50.safety-equip7 { width: 100%;}
.my-tab.ui-tabs-nav li.active a { border-radius: 0; border-left: 0 none;}
.form-group > li { /* padding-right: 0px; */ width: 50%;}
.form-control.width50, #tenant_list ul .my-col, .form-group > li .upload-btn, #tenant_list ul li > .form-control.width50 { width:100%;}
.level-indicator > img { max-width: 100%;}
.level-indicator li { font-size: 12px; width: 32%;}
.level-indicator li:first-child { text-align: left;}
.level-indicator li:last-child { text-align: right;}
.tenant-txt { margin-top: 70px; font-size: 20px;}
#tenant_list ul { margin-top: 0;}
.upload-btn:after { display: block;}
#property-add-step2 .next {     max-width: 60%;    padding: 4px 0; height: auto; font-size: 16px; margin: 0 auto 20px;}
.panel-title h1 { font-size: 14px;}
footer { padding: 5px 0px 10px;}
.my-panel { margin-bottom: 20px;}
.properties-page .form-group1 > div.my-div {width: 100%;}
.my-div > label {margin-top:0px;}
.drsecondpanel .my-col.width50 { width: 48% !important;}
.drmyeditproperty .my-div select {width: 100%;}
.drmyeditproperty .my-div input { width: 100% !important;margin-bottom:7px;}
.border-line input { width: 100% !important;}
.drforgot .right-banner {display: inline-block;float: none; margin-right: 0 !important; width: 96% !important;}

.how-works-inner {width: 616px;}
.how-works-inner > h2 {font-size: 26px;}
.howit-works .one-third .icon {height: 80px; width: 80px; padding-top: 28px;}
.one-third:nth-child(2) { margin-left: 45px;}
.one-third-wrap::after {left: 0; top: 136px;}
.how-workd-checkout .tick {height: 46px; width: 46px; padding-top: 13px;}
.download-app { margin: 64px auto 20px;}
.confirm-approve { margin: 94px auto 0;  width: 616px;}
.t-maintain .t-outer {width: 180px;}
.t-message .t-outer {width: 180px;}
.confirm-approve .t-left {left: 25px; top: -50px; width: 132px;}
.confirm-approve .t-right {right: 26px;top: -48px; width: 135px;}
.tantent-more-inner > ul::after { bottom: -69px; width: 616px;}
.howit-works .one-third .icon{margin-top: 21px;}
.download-the-app { padding: 30px 0 2px;}
.tantent-more-outer{padding-bottom: 40px;}
.download-the-app p{font-size: 15px;}
.usetenantag {width:100%;}

.usetenantag li img {margin-right: 9px;}

/*****************landing*******/
.inckudes {
  width: 100%;
}
.video-sec {
  clear: both;
  display: inline-block;
  float: none;
  margin: 50px auto 0 12%;
  padding-top: 20px;
  width: 76%;
}
.video-sec > h4 {
  margin: -78px 0 0;
}
.signup-form .right-banner {
  margin-top: 20px;
  padding: 20px 15px 30px;
  width: 100%;
}
.signup-form .form-control.width50 {
  width: 49.3%;
}
.pro-details {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.slider-sidebar .sliderr {
  font-size: 15px;
  padding: 25px 0 25px 12px;
}
.top-banner .row {
  margin: 0;
}
/*********14-2-tue*******/
.first-name_verify {
  width: 100%;
}
.last-name_verify {
  width: 100%;
}
.city_span, .state_span, .personal_id_number_span, .month_year_span {
  margin-left: 0;
}
.varify_span_four {
  float: left;
  width: 97%;
}
.varify_span_full {
  margin-left: 0;
  width: 97%;
}
.varify_span_four.personal_id_number_span {
  width: 97%;
}
.my-popup.next-step.checkout-confirmed .popup-cont {
  margin-left: 5%;

}
.contactus-section {
  width: 100%;
}

/*******28-aug*******/
.inner-header.right-header {
  float: right;
  width: 170px;
}
.my-alert.trail-end-date {
  left: 17%;
  top: -1px;
  width: auto;
}
.my-table .address_info_right {
  width: 20%;
}
.my-table .address_info_left {
  width: 80%;
}
.table-content.signup-table.dashboard-table table.ss [tooltip]:hover::before {
  margin-left: -57px;
}

form.vendor-detail .step3-container span.multiselect-native-select .btn-group .multiselect.dropdown-toggle.btn.btn-default {
  margin-top: 2px;
}
.step3-container input.form-control {
  font-size: 12px;
  padding: 10px 3px;
}
form#property-update-step2 .drsecondpanel .form-group > li {
  width: 48%;
}
form#property-update-step2 .delete-tenant-row {
  display: inline-block;
  margin-top: 31px;
}

form#property-update-step2 .my-col .upload-btn {
  display: inline-block;
  line-height: 18px;
  margin-top: 20px;
  padding-left: 24px;
}

.profile > li {
  vertical-align: text-top;
}
.check-link {
  margin-top: -30px;
}
.right-header > ul.profile {margin: 8px 0 13px;}
.my-div.is_yard_service_provide .right-pull {
  float: left !important;
}

section.lease-part.wb-tenant-page {
  padding-top: 0;
}
/****30-aug***/
.notice {
  padding-left: 0;
}
section.wb-leases-page .ui-tabs-panel.ui-widget-content.ui-corner-bottom table td:nth-child(3) {
  min-width: 50px;
}
table.my-table td {
  padding: 10px 3px;
}
section.add-new-vendor-popup .my-tab.ui-tabs-nav a {
  padding: 10px 0;
}

.tpay-acc-setup-left {
  border: 1px solid #ccdee9;
  float: left;
  padding-bottom: 25px;
  width: 100%;
}
.tpay-acc-setup-right {
  border: 1px solid #ccdee9;
  float: right;
  margin-top: 20px;
  width: 100%;
}
.common_question_account_setup .header_question,.common_question_account_setup .header_answer {
  width: 95%;
}
	form#payment_form .step-in.linked-btn-sec > div#linked-acc {
  margin-top: 20px;
  min-width: 100%;
  width: 100%;
}
form#payment_form .step-in.linked-btn-sec [tooltip]:hover::before {
  margin-left: 0;
  margin-top: 35px;
  right: 50px;
}
form#payment_form .settipp .tpay-field-part input[type="text"] {
  width: 95.5%;
}
form#payment_form .settipp .tpay-field-part span.req-field input#dob[type="text"], form#payment_form .settipp .tpay-field-part span.req-field input#social_security[type="text"], form#payment_form .settipp .tpay-field-part span.req-field input#last_name[type="text"],form#payment_form .settipp .tpay-field-part span.req-field.address_subdivision_cont  select#address_subdivision, form#payment_form .settipp .tpay-field-part span.req-field input#address_zip_code[type="text"] {
  width: 90%;
}
form#payment_form .settipp .tpay-field-part input[type="email"] {
  width: 96%;
}
.heading > span {
  margin-top: 0;
}
.heading > label {
  text-align: center;
  width: 100%;
}

/********dashbord-page table*****/
.wb-dash-page table.ss.my-table tbody tr td{
display: block;
float: left;
height: auto;
max-width: 100%;
padding: 42px 3px 14px;
position: relative;
text-align: center;
width: 100%;
}
.wb-dash-page table.ss.my-table tbody tr td:before{
  background: #f1f1f1 ;
  color: #3f5867;
  content: "";
  font-weight: bold;
  left: 0;
  padding: 6px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.wb-dash-page table.ss.my-table tbody tr td:first-child:before{
  content: "Address";
}
.wb-dash-page table.ss.my-table tbody tr td:nth-child(2):before{
  content: "Unit #";
}
.wb-dash-page table.ss.my-table tbody tr td:nth-child(3):before{
  content: "Rent Balance";
}
.wb-dash-page table.ss.my-table tbody tr td:nth-child(4):before{
  content: "Tenants";
}
.wb-dash-page table.ss.my-table tbody tr td:nth-child(5):before{
  content: "Messages";
}
.wb-dash-page table.ss.my-table tbody tr td:nth-child(6):before{
  content: "Vendors";
}
.wb-dash-page table.ss.my-table tbody tr td:nth-child(7):before{
  content: "tText";
}
.wb-dash-page table.ss.my-table tbody tr td:nth-child(8):before{
  content: "tMaintenance";
}
.wb-dash-page table.ss.my-table tbody tr td:nth-child(9):before{
  content: "tPay";
}
.wb-dash-page table.ss thead {
  display: none;
}	
.wb-dash-page table tr td:first-child a {
  float: none;
  width: auto;
}
.wb-dash-page table.my-table td a.expiring, .wb-dash-page table.my-table td a.zero {
  text-align: center !important;
}
.wb-dash-page table .expiring {
  background-image: url("../images/lease.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px auto;
  padding-right: 46px;
}
section.wb-dash-page table.ss.my-table tr {
background: #00659f ;
border-bottom: 1px solid #ddd;
box-sizing: border-box;
display: block;
float: left;
margin-bottom: 20px;
padding: 2px;
width: 100%;
}
section.wb-dash-page table.ss tr td:last-child {
    border-right: 1px solid #ddd !important;
}
section.wb-dash-page .zero { 
  background-image: url("../images/zero.png");
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: auto auto;
  padding-right: 46px;
}
section.wb-dash-page table.my-table {
  max-width: 100%;
  min-width: 100%;
}
.dashboard-table table.ss tr:last-child td:last-child, .dashboard-table table.ss tr:last-child td:nth-child(7), .dashboard-table table.ss tr:last-child td:nth-child(8),table.ss tr th:nth-child(6), .dashboard-table table.ss tr td:nth-child(6) {
  border-bottom: 1px solid #ddd;
}
section.wb-dash-page table.ss tr th:nth-child(6), section.wb-dash-page .dashboard-table table.ss tr td:nth-child(6) {
  border-right: 1px solid #ddd; 
}

.modal.in .modal-dialog { width: 96%; margin: 15px auto;}
}

@media  (max-width: 640px){
.form-control.width50 {width: 47%;}
.dr-logo {float: none; margin: 0 auto 20px;}
.right-header {float: none; margin: 0 auto;}
.heading > label {text-align: center; width: 100%;}
.heading > span{margin-top: 0px;}
.my-block { margin: 0 5px 9px; width: 47%;}
.inner-header { float: right; width: auto;}
.right-header > ul.profile {margin: 8px 0 13px;}
.btn-tenant.add-property {font-size: 12px; height: 43px; padding: 11px 0; width: 134px;}
.btn-part{width: 278px;}
.btn-part a {padding: 11px; width: 92px !important;}
.new-btn-part .edit-btn.add-more-service.btn-block { font-size: 11px; width: 173px !important;}
.new-btn-part .edit-btn.add-new-service.btn-block { font-size: 11px; padding: 10px 0; width: 151px !important;}
.new-btn-part a.edit-btn{font-size: 11px;}
section.lease-part{padding: 21px 0;}
ul.btn-group { float: left;}
.my-list span {width: 48%;}
.tenant1 ul.btn-group li a	{font-size: 10px; padding: 10px 9px 10px 31px;}
.tenant1 ul.btn-group li a::before{left: 10px;}	
.tenant_div {overflow-y: hidden; width: 100%;}	
.tenant_div .table {margin-bottom: 20px; max-width: 700px; width: 700px;}
a.edit {background-position: 5px 3px; height: 22px; width: 22px !important;}
a.del {background-position: -35px center; height: 22px; width: 22px !important;}

.signup-table table tr td { min-width: 80px; padding: 20px 6px;}
.signup-table table tr td .zero { background-position: 100% center;}
table.my-table th { padding: 7px 5px;}
.btn-tenant.my-btn-tennt.my-vendor { margin: 20px 0px 0px;}
/* .search-area-part { width: 48%; margin-left: 3px;}
.selected-item { width: 46%;} */
table.hasFilters tr, table.hasFilters td { border-left: 0; border-right: 0;}
.cross2 > label { width: 70%;}
.tablesorter-blue input.tablesorter-filter/*, .tablesorter-blue select.tablesorter-filter*/ { background-position: 15px -14px !important; height: 33px !important; padding: 0px 10px 0px 50px !important;}
table.hasFilters { border: 0;}
.form-control.my-txt-fleid, .form-control.width50 { width: 100% !important; max-width: none; margin: 4px auto 0 !important;}
.my-radio { display: inline-block;}
.form-group1 > div.my-div.width150 { position: absolute; right: -15px; top: 0px;    margin: 60px auto 0px;}
.form-group1 { position: relative;}

#addtenantModal .my-list span{min-height:82px}
a.edit {margin: 0 1px;}
.drsecondproperty .form-control.my-txt-fleid {max-width:96%;}
.drsecondproperty .form-group .drpercentage { margin: 0 3px !important; max-width: 46% !important; width: 46% !important;}
.upload-btn {line-height: 13px;}

.one-third-wrap::after{display: none;}
.how-works-inner { width: 440px;}
.one-third:nth-child(2) {margin-left: 0;}
.howit-works .one-third{width: 146px;}
.how-workd-checkout {margin: 8.2% auto 0; width: 206px;}
.how-workd-checkout span {font-size: 16px; top: 11px;}
.download-app {margin: 29px auto 10px;  padding: 7px 0;}
.confirm-approve{display: none;}
.tantent-more-inner > ul {padding: 36px 0 0;}
.tantent-more-inner > ul::after {bottom: -67px; width: 100%;}
.more-icon > a { background-size: 100% auto; height: 42px; padding: 12px 24px; width: 80px;}
.more-icon > a::after { background-size: 9px auto;  left: 36px; top: 30px;}
.how-works-inner > h2{margin-bottom: 0px;}
.howit-works { padding: 24px 0 16px; width: 100%;}
.howit-works .one-third:nth-child(2) .icon {padding-top: 24px;}
.howit-works .one-third p {font-size: 14px;}
.how-workd-checkout span {font-size: 14px;}
.usetenantag li img { width: 40px;}
.usetenantag li{height:40px;line-height:40px;}

/********************landing*******/

form .loginbttn {
  float: left;
  margin: 0px 0 0;
} 
form#login .changecolor {
  margin-left: 74px !important;
  position: relative;
  top: 0px;
}
.top-banner h2 {
  font-size: 28px;
}
.video-sec {
  width: 96%;
}
.slider-main {
  float: left;
  width: 100%;
  text-align: center;
}
.slider-sidebar .sliderr {
 border: 1px solid #ddd;
margin-right: 1%;
width: 49% !important;
  font-size: 15px;
  padding: 12px;
}

.slider-sidebar {

  width: 100%;
}
.slider-sidebar .sliderr.slick-current, .slider-sidebar .sliderr:hover {
  background-image:none;
  background-color:#00517f;
  color:#fff;
}
.slider-sidebar {
  border-left: 0px solid #d9d9d9;
}
.img-main {
  float: left;
  margin-right: 0px;
  width: 100%;
  text-align: center;
}
.slick-slider .slick-slide img {
  display: inline-block;
}
.slick-slider .slick-dots {
  bottom: -10px;
  width: 100%;
}
.slider-main {
  border-right: 0 ;
}

.signup-form .form-control.width50.right-pull {
  margin-top: 15px !important;
}
.right-banner .form-group1 .my-div {
  margin-bottom: 6px;
}

/**********14-2-tue**********/
.saved_deb_card_left {
  width: 100%;
}
.saved_deb_card_right {
  float: right;
  width: 100%;
}

.my-popup.next-step.checkout-confirmed .popup-cont {
  margin-left: 5%;
  width: 90%;
}
.next-step.my-popup ul.listing {
  margin-left: 70px;
}
.ordered .step > span {
  font-size: 22px;
  margin-right: 5px;
  padding-left: 7px;
}
.ordered.ui .step {
  padding: 12px 6px 12px 10px;
  position: relative;
  width: 50%;
}
#custom_linked_bank_account_model .modal-header .close {
  margin-right: 0;
  margin-top: 0;
}
.ordered.ui .step h4 span {
  font-size: 10px;
  line-height: 18px;
}
.ordered.ui .step > h4 {
  font-size: 14px;
  margin-top: 7px;
}
.bank_list li {
  width: 98%;
}
.video-sec {
  margin: 50px auto 0 2%;
}
.usetenantag li {
  font-size: 12px;
}
/*****28-aug********/
.dr-logo.my-logo {
  float: left;
}
.my-alert.trail-end-date .alert.alert-danger {
  padding: 7px 6px !important;
}
.my-alert.trail-end-date {
  left: auto;
  position: absolute;
  right: 0;
  top: 69px;
  width: auto;
}
header.my-header .my-dropdown {
  right: 0;
  top: 60px;
}

.popup-cont {
margin-left: 2%;
width: 96%;
}


form#property-add-step2 span.upload-btn {
  margin-top: 20px;
  line-height:18px;
}
form#property-add-step2 .currency_text_box > span {
  margin-top: 4px;
}
.step3-container input.form-control {
  min-width: 110px;
}
form#property-update-step2 .currency_text_box > span {
  margin-top: 4px;
}
.add-btn.add-more-service.btn-block {
  margin-bottom: 10px;
}
form#property-add-step1 .service-provider .my-col.width50 {
  width: 48%;
}
.wb-tenant-page .my-list.tttt2222 span {
  width: 100%;
}

.wb-tenant-page .my-list.tttt2222 li.pet-info span {
  width: 49.5%;
}
section.wb-tenant-page form.tenant-detail .pet-info .curr input ,section.wb-tenant-page form.tenant-detai .curr.currency_text_box .form-control.my-txt-fleid.valid{
  width: calc(100% - 30px) !important;
   
}
section.wb-tenant-page .pet-info span.currency_text_box.curr .dolar-sign {
  margin-top: 4px;
}

/*****30-aug*********/
section.wb-leases-page .ui-tabs-panel .form-control.my-txt-fleid, .form-control.width50 {
  max-width: 100px;
  width: auto;
  min-width:80px;
}

section.wb-leases-page .tenant_div .table {
  margin-bottom: 20px;
  max-width: 320px;
  width: 100%;
}
section.wb-leases-page .ui-tabs-panel.ui-widget-content.ui-corner-bottom table td:nth-child(3) {
  min-width: 90px;
}
section.wb-leases-page .ui-tabs-panel.ui-widget-content.ui-corner-bottom table td:nth-child(3) .form-control.width50.rent_amount {
  width: 50px !important;
  min-width:50px;
}
.my-tab.ui-tabs-nav li:hover a, .my-tab.ui-tabs-nav li a {
  padding: 10px 15px;
}

section.wb-messages-page .tenant2 .msg-sender-info li {
  margin: 0 10px 0 0;
}
section.add-new-vendor-popup td a.del {
  background-position: -31px center;
  height: 32px;
  width: 32px !important;
}
section.add-new-vendor-popup td a.edit {
   background-position: 9px 8px;
height: 32px;
width: 32px!important;
}
section.add-new-vendor-popup  .form-control.my-txt-fleid,section.add-new-vendor-popup  .form-control.width50 {
  margin: 4px auto 0;
  max-width: none;
  min-width: 130px;
  width: 100%;
}

/******4-sept*******/

section.add-new-vendor-popup table.my-table ,section.wb-leases-page table.my-table,form.vendor-detail .my-table.vndrs_table{
  max-width: 100%;
  min-width: 100%;
}
section.add-new-vendor-popup .my-table.text-left td ,section.add-new-vendor-popup form.addVendorInProperty table tr td,section.wb-leases-page table.my-table td,section.wb-leases-page .tenant_div table.table td,form.vendor-detail table.vndrs_table tr td{
display: block;
float: left;
height: auto;
max-width: 100%;
padding: 42px 3px 14px;
position: relative;
text-align: center;
width: 100%;
}
section.add-new-vendor-popup .my-table.text-left td::before ,section.add-new-vendor-popup form.addVendorInProperty table tr td:before,section.wb-leases-page table.my-table td:before,section.wb-leases-page .tenant_div table.table td:before,form.vendor-detail table.vndrs_table tr td:before{
  background: #f1f1f1 ;
  color: #3f5867;
  content: "";
  font-weight: bold;
  left: 0;
  padding: 6px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
section.add-new-vendor-popup form.addVendorInProperty table tr.display-custom-row td:first-child,section.add-new-vendor-popup form.addVendorInProperty table tr.add-vendor-tbl td:first-child{
display:none;
}
form.vendor-detail table.vndrs_table tr td:first-child {
  display: none;
}
form.vendor-detail table.vndrs_table tr td:nth-child(2)::before {
  content: "Company Name";
}
form.vendor-detail table.vndrs_table tr td:nth-child(3)::before {
  content: "Phone";
}
form.vendor-detail table.vndrs_table tr td:nth-child(4)::before {
  content: "Email";
}
form.vendor-detail table.vndrs_table tr td:nth-child(5)::before {
  content: "Service";
}
form.vendor-detail .tabbb table.vndrs_table thead {
  display: none;
}
form.vendor-detail table.vndrs_table .all-record > tr {
  border-bottom: 1px solid #ddd;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

section.wb-leases-page .tenant_div table.table td:first-child:before {
content: "Lease Start";
}
section.wb-leases-page .tenant_div table.table td:nth-child(2)::before {
content: "Lease End";
}
section.wb-leases-page .tenant_div table.table td:nth-child(3)::before {
content: "Rent Rate ";
}
section.wb-leases-page .tenant_div table.table td:nth-child(4)::before {
content: "Name";
}
section.wb-leases-page .tenant_div table.table td:nth-child(5)::before {
content: "Property";
}
section.add-new-vendor-popup .my-table.text-left td:first-child::before ,section.add-new-vendor-popup form.addVendorInProperty table tr.display-custom-row td:nth-child(2)::before,section.add-new-vendor-popup form.addVendorInProperty table tr.add-vendor-tbl td:nth-child(2)::before{
  content: "Service";
}
section.wb-leases-page table.my-table tr td:first-child:before {
  content: "Lease Start";
}
section.wb-leases-page table.my-table tr  td:nth-child(2)::before {
  content: "Lease End";
}
section.wb-leases-page table.my-table tr  td:nth-child(3)::before {
  content: "Rent Rate";
}
section.wb-leases-page table.my-table tr  td:nth-child(4)::before {
  content: "Name";
}
section.wb-leases-page table.my-table tr  td:nth-child(5)::before {
  content: "Property";
}
section.wb-leases-page table.my-table tr  td:nth-child(6)::before {
  content: "Lease Copy";
}
section.wb-leases-page table.my-table tr  td:nth-child(7)::before {
  content: "Upload";
}
section.add-new-vendor-popup .my-table.text-left td:nth-child(2)::before ,section.add-new-vendor-popup form.addVendorInProperty table tr.display-custom-row td:nth-child(3)::before,section.add-new-vendor-popup form.addVendorInProperty table tr.add-vendor-tbl td:nth-child(3)::before{
  content: "Company";
}
section.add-new-vendor-popup .my-table.text-left td:nth-child(3)::before ,section.add-new-vendor-popup form.addVendorInProperty table tr.display-custom-row td:nth-child(4)::before,section.add-new-vendor-popup form.addVendorInProperty table tr.add-vendor-tbl td:nth-child(4)::before{
  content: "Email";
}
section.add-new-vendor-popup .my-table.text-left td:nth-child(4)::before ,section.add-new-vendor-popup form.addVendorInProperty table tr.display-custom-row td:nth-child(5)::before,section.add-new-vendor-popup form.addVendorInProperty table tr.add-vendor-tbl td:nth-child(5)::before{
  content: "Phone";
}
section.add-new-vendor-popup .my-table.text-left td:last-child::before {
  content: "Action";
}
section.add-new-vendor-popup .my-table thead ,section.wb-leases-page table.my-table thead{
  display: none;
}
section.add-new-vendor-popup .my-table.text-left td input[type="text"] {
  width: 100%;
}
section.add-new-vendor-popup table.my-table .all-record > tr:first-child {
  display: none;
}
section.add-new-vendor-popup tr.add-vendor-tbl {
  border-bottom: 1px solid #ddd;
  display: block;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
section.add-new-vendor-popup form.addVendorInProperty tr#add-vendor-row td.center-cont .btn-tenant.add-vendor-row {
  width: 100% !important;
}
form.addVendorInProperty tr#add-vendor-row td.center-cont {
  line-height: 30px;
}
section.wb-leases-page .my-table tr {
  border-bottom: 1px solid #ddd;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
section.lease-part .my-table td ul li {
  display: inline-block;
  float: none;
  margin-right: 0;
  width: 100%;
}
section.wb-leases-page table td li a.document {
  display: block;
  float: none;
  margin: 0 auto;
  padding-right: 2px;
  width: 130px;
}
section.wb-leases-page .tenant_div table.table td input {
  max-width: 100%;
  width: 100%;
}
section.wb-leases-page .ui-tabs-panel.ui-widget-content.ui-corner-bottom table.table td:nth-child(3) .form-control.width50.rent_amount {
  max-width: 90%;
  min-width: 50px;
  width: 90%!important;
}
section.wb-leases-page .tenant_div table.table th {
  display: none;
}
section.wb-leases-page .tenant_div .table tr {
  border: 1px solid #ddd;
  display: block;
  float: left;
  width: 100%;
}
section.wb-leases-page .tenant_div .table {
  margin-bottom: 20px;
  max-width:100%;
  width: 100%;
}

section.wb-leases-page .tenant_div {
  border-bottom: 2px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
section.signup-section2 form#property-add-step1 .form-control.my-txt-fleid.width50 {
  max-width: 100%;
  width: 100%;
}

section.signup-section2 form#property-add-step1 .already-services .form-group1 .my-div.width150,section.signup-section2  form#property-add-step1 .my-panel.my-panel1 .form-group1 .my-div.width150 {
  margin-top: 10px;
  position: static;
}
section.signup-section2 form#property-add-step1 .my-panel.my-panel1 .my-div .form-control.my-txt-fleid.width50 {
  max-width: 100%;
}
form label.error {
  bottom: 0;
  position: static !important;
}

section.wb-my-properties-page .form-group1 .my-div .form-control.width50.right-pull.mr-rite0 {
  max-width: 100%;
}
section.wb-my-properties-page .my-radio {
  margin-top: 0;
}
section.wb-my-properties-page h2.my-txt.propphotos {
  width: 100%!important;
}
section.wb-my-properties-page .form-control.my-txt-fleid.width50.safety-equip207 {
  max-width: 100%;
}
section.wb-my-properties-page .properties-page form.ajaxForm {
  margin-bottom: 10px;
}
section.wb-my-properties-page form.ajaxForm .edit-btn.edit.submit-form {
  margin-top: 10px;
}
form#payment_form .linked-acc-part.wb-linkedacc-part select {
  width: 80%;
}


}

@media  (max-width:599px){
.propertfirst .my-col { width: 48%;}
.drsecondpanel .form-group > li {width: 100%;}
.bock-area {margin-bottom: 0;}
.bock-area label { width: 100%;}
.drnewaddmsg .repeat-every {width: 100%;}
.drnewaddmsg .bock-area select { width: 100% !important;}
.drnewaddmsg input { width: 100%;}
.repeat-everyoc > span { float: left; font-family: robotoregular;margin-top: 5px;}
.usetenantag {width: 100%;}
.usetenantag li {height: 40px;line-height: 40px; padding-left: 0;font-size: 13px;}


form#property-update-step2 .drsecondpanel .form-group > li {
  width: 97%!important;
}
form#property-update-step2 .drsecondpanel .form-group > li div.my-col.right-pull,form#property-update-step2 .drsecondpanel .form-group > li div.my-col.mr-rite0 {
  float: right!important;
}
header.my-header .my-dropdown {
  right: 10px;
}


}

@media (max-width: 480px){
.form-control.width50 {width: 100%;}
.form-control.my-txt-fleid.width50.right-pull.mr-rite0 {margin: 19px 0 0;}
.right-header{width: 340px;}
.righthead-col {margin-right: 3px; width: 49%;}
.loginbttn{float: right; margin: 9px 0 0;}
.changecolor {margin: 0 !important; position: relative; top: 10px;}
.testimonial {background-size: 30px auto; padding: 30px 30px 30px 78px;}
.testimonial1 {background-size: 30px auto; padding: 30px 78px 30px 30px; height: auto;}
.fttr-block {margin: 0 0 24px; min-height: auto; width: 100%;}
.righthead-col.right-fld {float: right; margin: 0;}
.head-field{width: 100%;}
.dr-logo.my-logo { margin: 10px auto; width: 160px;}
.inner-header {float: none; margin: 0 auto; position: relative; top: 6px; width: 160px !important;}
.btn-part { clear: both; float: none; margin: 0 auto; width: 278px; border: 0px;}
.btn-tenant.add-property {clear: both;float: none; font-size: 12px; margin: 0 auto; position: relative; top: 10px;}
.new-btn-part .edit-btn.add-more-service.btn-block { width: 100% !important;}
.new-btn-part .edit-btn.add-new-service.btn-block { width: 100% !important;}
.new-btn-part a.edit-btn{font-size: 11px; width: 100%; margin: 0 0 5px;}
a.edit-btn span.edit-icon::before{left: 43%;}
.tenant2 li{padding : 10px 10px; }
.select-grp select.form-control {margin: 0; width: 100%;}
.my-list span {width: 100%;}
.tenant1 ul.btn-group li a { width: 100%; margin: 0 0 4px;}
#edit-63 li{margin-left: 0px;}
.tenant1 ul.btn-group li{width: 100%; margin-left: 0px;}
.upload-file > li {margin: 20px 6px 0 0;}
.msg-icon-part{top: 10px;}
.msg-block li { padding: 0;}

.right-signup-form.right-banner span { top: 0; padding: 0;}
.right-signup-form.right-banner #sign-up label.error { margin: 0 auto; background: none;}
.right-signup-form.right-banner #sign-up label.error#signPassword-error, .right-signup-form.right-banner #sign-up label.error#first_name-error { bottom: 37px;}
.right-signup-form.right-banner #sign-up label.error:before { display: none; padding: 0;} 
.right-signup-form.right-banner #sign-up label.error { padding-left: 0;}

.my-list li span input.form-control { width: 100%;}
.my-list li { margin: 0 auto;}
.modal.in .modal-dialog label.error { margin: 0 auto !important; padding: 0; position: relative; bottom: 0;}
.my-list span { margin-bottom: 5px;}
.upload-file > li { float: none; display: block; margin: 20px auto;} 

.search-area-part { width: 100%; margin: 0 auto 15px;}
.selected-item { width: 100%; margin: 0 auto;}
.my-div { width: 100%; display: inline-block;}
input.form-control { max-width: 100%;}
.repeat-every .form-control.repeat.w65 { margin: 0 auto;}
.repeat-every label.every { width: 100%;}
.my-tab.ui-tabs-nav li:hover a, .my-tab.ui-tabs-nav li a { margin: 0 -15px;    padding: 22px 15px;    border-left: 1px solid transparent; border: 0;}
table.my-table { min-width: 480px;}
.select-grp select.form-control, .add_vender_form { width: 100% !important; margin: 2px auto;}
.select-grp { padding-bottom: 0;}
.table-content.vendor-table {  margin-bottom: 0;}
.my-dropdown { right: 0; top: 95px;}
.upload-file > li { position: relative; display: inline-block; height: auto;}
.form-control.width50 { width: 80%;}
h2.lease-doc { margin: 0 auto;}
.tenant1 span { width: 100%;}
.tenant1 li { padding: 0px 0px; margin-bottom: 10px; box-shadow: 1px 1px 0px rgba(0,0,0,0.1);}
.my-tab.ui-tabs-nav li { border: 0 !important;}
.upload-file span { right: 0; top: 0;}

.tenant1 li { padding: 0 4px;}
.tab-area { box-shadow: none;}
.form-group > li { margin: 0 auto;}
.form-control.width50, #tenant_list ul .my-col, .form-group > li .upload-btn, #tenant_list ul li > .form-control.width50 { width: 100%;}
.form-control.my-txt-fleid, .form-control.width50, .form-group > li { width: 100% !important;}
.form-group > li .upload-btn { margin: 4px auto 0px !important;}

footer .fttr-block { margin-bottom: 0;     border-bottom: 1px solid #93A3AD;}
footer .fttr-block:last-child { border-bottom: 0;}
.fttr-block > h4 { margin-top: 10px;}
.subscribe { margin-bottom: 10px;}
.fttr-block ul { width: 100%;}
.sub-panel-head label { padding-top: 3px;}
.my-tenant-btn .next { width: 100%; margin: 5px auto; font-size: 15px; height: auto;}

#addtenantModal .my-list span{padding-right: 0px}
.add-btn {margin-top: 6px;}
.drsecondproperty .form-group .drpercentage {margin: 5px 3px 0 !important;max-width: 100% !important; width: 95% !important;}
.propertfirst .my-col { margin-bottom: 4px; width: 100%;}
.next { width: 100%;}
.drsecondpanel .form-group > li {height: auto;}
.drsecondpanel .my-col.width50 {width: 100% !important;}
.my-list.border0.drsetting span {width: 100% !important;}
.my-list.border0.drsettingtab span {width: 100% !important;}
.my-list.border0.drthirdtab span {width: 100% !important;}


.howit-works .one-third { width: 100%;}
.how-works-inner > h2{margin-bottom: 20px;}
.download-app{width: 270px;}
.how-works-inner {  width: 100%;}
.download-the-app a { background-size: 100% auto; width: 140px;}

.tantent-more-inner > ul::after { bottom: -74px;}
.more-icon {margin: 0 auto -1px;}
.right-header > a { bottom: -13px; left: 1px;  position: absolute;}
.right-header{position: relative;}

.download-the-app p{font-size: 13px;}
.download-the-app {padding: 11px 0 2px;}
.tantent-more-outer {padding-bottom: 20px;}

form .loginbttn {
  margin: 30px 0 0;
}
.rem-for {
  margin-top: -62px;
}
form#login .changecolor {
  margin-left: 56px !important;
}
.top-banner h2 {
  font-size: 20px;
}
.banner-define {
  font-size: 16px;
}
.single-include img {
  width: 30px;
}
.content {
  margin-left: 3px;
}
.inckudes h4 {
  font-size: 16px;
}
.content > p {
  font-size: 14px;
}
form#login .changecolor {
  margin-left: 52px !important;
}
.slider-sidebar .sliderr {
  margin-bottom: 5px;
  margin-right: 0%;
  width: 98% !important;
}
.usetenantag li {
  font-size: 16px;
}
.footer-link-block {
  width: 100% !important;
}
.footer-link-li {
  margin-right: 10px;
  width: 46% !important;
}
.fttr-block.subscribe_ten {
  margin-right: 0;
  margin-top: 20px;
  width: 100%;
}
footer .fttr-block.right-pull {
  width: 100% !important;
}
.sifnup-noww {
  margin-top: 10px;
}
.next-step.my-popup ul.listing {
  margin-left: 0;
  min-width: 268px;
  padding-left: 20%;
}

section.top-banner {
  padding: 40px 0 20px;
}

.cont-main > h3 {
  font-size: 22px;
}

.video-sec video {
  height: 200px;
}
form#property-add-step2 .my-col.width100 {
  width: 100%!important;
}
form#property-add-step2 .sub-panel-head {
  margin-top: 20px;
}
form#property-add-step2 .form-group {
  padding-bottom: 20px;
}
label.error {
  bottom: -19px;
}
form#property-add-step2 .form-group > li ,form#property-add-step2 .form-group > li .my-col.mr-rite0{
  margin-bottom: 15px;
}

[tooltip]:hover::before {
  left: 0;
  width: 250px;
}
.step3-container .my-check span.one-step span {
  display: block;
  padding-left: 10px;
}
.step3-container .signup-3.signup-tmaintenance .signup > span {
  display: block;
  float: left;
}
.step3-container .my-check span.ttpayy {
  margin-right: 0;
  width: 100%;
}
.ttpayy [tooltip]:hover::before {
  width: 239px;
}
form#property-update-step2 label.error {
  position: static !important;
}

form#property-update-step2 .drsecondpanel .my-col.width50 {
  margin-right: 0;
  width: 100%!important;
}
form#property-update-step2 .drsecondpanel .form-group > li {
  margin-bottom: 10px;
  padding-right: 0;
  width: 100%;
}
form#property-update-step2 ul.form-group.pets_info_ul li.full_li .my-col.width100, form#property-update-step2 li.full_li .my-col.width100 {
  width: 100%!important;
}
form#property-update-step2 .all-tenants ul.form-group .delete-tenant-row {
  margin-bottom: 20px;
  margin-top: 0;
} 
form#property-add-step1 .my-div.custom-width > label {
  margin: 10px 0 0;
  width: 100%;
}
form#property-add-step1 .service-provider .my-col.width50 {
  margin-left: 0;
  width: 100%;
}
form#property-add-step1 .my-col {
  margin-right: 11px;
  width: 100%;
}
section.wb-tenant-page .tenant1 ul.btn-group li {
  float: left;
  margin-left: 3%;
  width: 46%;
}
.tenant1 li ul.btn-group {
  width: 100%;
}
.wb-tenant-page .my-list.tttt2222 span.span-up span,.wb-tenant-page .my-list.tttt2222 li.pet-info span,section.wb-tenant-page .my-list.tttt2222 li.em-cont span.em-ph, section.wb-tenant-page .my-list.tttt2222 li.em-cont span.em-name {
  padding: 0;
  width: 100%;
}
.wb-tenant-page .my-list.tttt2222 span.span-up span:nth-child(2) {
  margin-left: 0;
}
section.wb-tenant-page .curr.currency_text_box input {
  width: calc(100% - 30px);
}
#myModal .modal-body {
  padding: 24px 15px 25px;
}
#myModal .modal-header {
  margin: 47px 15px 6px;
  padding: 0;
}
form#renew_lease .form-control.width50 {
  margin-top: 0 !important;
}
form#renew_lease .renew-lease-span {
  width: 47.5%;
}
section.wb-tenant-page .currency_text_box.curr .dolar-sign i {
  display: inline-block;
  line-height: 38px;
}
/*****30-aug*****/
section.wb-messages-page .msg-block li {
  padding: 0 0 0 5px;
}
section.wb-messages-page .new-cont-area input,section.wb-messages-page select.my-select-1.form-control {
  margin: 3px 0;
  width: 100%;
}
section.wb-messages-page .form-control.my-select-1.repeat-time {
  width: 100% !important;
}
section.wb-messages-page .table-content {
  overflow: visible;
}
.wb-messages-page .search-area-part {
  width: 100%;
}
.wb-messages-page .selected-item {
  margin-left: 0;
  width: 100%;
}
section.wb-messages-page .content-part1 {
  height: auto;
  max-height: 240px;
  min-height: 50px;
  overflow-y: auto;
}
section.add-new-vendor-popup form#add_vendors span.sp {
  float: left;
  width: 95%;
}

section.add-new-vendor-popup .my-table.text-left td:last-child {
  min-width: 88px;
}
section.add-new-vendor-popup .add_vndr_tab .table-content {
  overflow: visible;
}
.my-msg-inner-tab ul li a {
  padding: 12px;
}

section.wb-my-properties-page form.ajaxForm ul.select-grp > li {
  float: left;
  width: 100%;
}
section.wb-my-properties-page a.edit-btn span.edit-icon::before {
  left: 4%;
}


form#payment_form .tpay-field-part {
  width: 98%;
}
form#payment_form .bank-center.thy p {
  font-size: 16px;
  line-height: 21px;
  padding-left: 0;
}
form#payment_form .linked-acc-part.wb-linkedacc-part {
  width: 100%;
}
form#payment_form #linked-acc > label {
  min-width: 100px;
}
.common_question_account_setup .header_question, .common_question_account_setup .header_answer {
  width: 93%;
}
form#payment_form .step-in.linked-btn-sec [tooltip]:hover::before {
  left: auto;
  margin-left: 0;
  margin-top: 35px;
  right: 30px;
}
form#payment_form .save-center.bank-center .my-link {
  margin-bottom: 10px;
}
.check-design input[type="checkbox"] + label::before {
  left: -22px;
}


}


@media only screen and (max-width:479px){
.usetenantag > li {width: 100%;}
.dr-logo.my-logo {
  margin: 19px auto;
  width: 100px;
}
.my-alert.trail-end-date .alert.alert-danger {
  padding: 7px 6px 7px 0 !important;
}
.my-alert.trail-end-date {
  right: -64px;
  top: 71px;
}


}
@media only screen and (max-width: 360px){
.right-header {width: 296px;}
.righthead-col{width: 48%;}
.my-block {margin: 0 0 9px; width: 100%;}
.tenant2 ul.btn-group li a {font-size: 12px; padding: 10px 10px 10px 31px;}
label.label1 {font-size: 13px;}
select.form-control{font-size: 12px;}
label.label2{fonr-size: 13px;}
.tantent-more-inner > ul::after {bottom: -76px;}
.download-the-app p {font-size: 12px;}
}

@media only screen and (max-width: 320px){
.tantent-more-inner > ul::after { bottom: -78px;}
}
