@charset "utf-8";
/* CSS Document */
* {margin: 0px;padding: 0px; box-sizing: border-box}
body {font-size: 14px;}
h1, h2, h3, h4, h5, h6, ul, li, a {margin: 0px;padding: 0px;text-decoration: none;list-style: none;font-weight:normal;}
.claer {clear: both;}
img {border: 0px none;}




@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold.eot');
    src: url('fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold.woff2') format('woff2'),
         url('fonts/roboto-bold.woff') format('woff'),
         url('fonts/roboto-bold.ttf') format('truetype'),
         url('fonts/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light.eot');
    src: url('fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light.woff2') format('woff2'),
         url('fonts/roboto-light.woff') format('woff'),
         url('fonts/roboto-light.ttf') format('truetype'),
         url('fonts/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular.eot');
    src: url('fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular.woff2') format('woff2'),
         url('fonts/roboto-regular.woff') format('woff'),
         url('fonts/roboto-regular.ttf') format('truetype'),
         url('fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*-----header start------*/
.container{margin:0 auto;max-width:1170px;width:100%;padding:0px !important}
header{float:left;width:100%; padding: 12px 0;    border-bottom: 1px solid #00659f;}
.dr-logo {float: left;}


.right-header {
    float: right;
    margin: 16px 0;
    width: 32.5%;
}

.righthead-col {
    float: left;
    margin-right: 18px;
    width: 35%;
}


.righthead-col > label {
    color: #333333;
    float: left;
    font-size: 14px;
    padding-bottom: 8px;
    width: 100%;    font-family: 'robotoregular';
}


.head-field {
    border: 1px solid #c8c8c8;
    color: #333333;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;  border-radius: 2px;
    width: 93%;    font-family: 'robotoregular';
}


.loginbttn {
    background: #00659f none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-size: 14px;  border-radius: 2px;
    height: 34px;border:none;
    margin-top: 26px;cursor:pointer;
    width: 77px;    font-family: 'robotobold';
}
/*-----header start------*/

/*---banner start---*/

.dr-banner {
    background: #00659f none repeat scroll 0 0;
    float: left;
    padding: 70px 0 22px;
    width: 100%;
}

.left-banner {
    float: left;
    margin-right: 20px;
    width: 62%;
}
.left-banner h3 {
    color: #ffffff;
    font-size: 34px;    font-family: 'robotobold';
}

.left-banner > ul {
    float: left;
    margin-top: 30px;
    width: 100%;
}



.left-banner li {
    float: left;
    margin-bottom: 20px;
    padding: 0 0 34px 134px;
    width: auto;
}

.left-banner ul li h4 {
    color: #ffffff;
    font-size: 30px; font-family: 'robotoregular';   
}
.left-banner ul li h4 span{
    font-family: 'robotobold';
}
.left-banner ul li p {
    color: #ffffff;
    font-size: 13px; font-family: 'robotoregular';   
}
.message-img {
    background: url("../images/tmessaging.png") no-repeat scroll 0 0;
}
.mainstaince-img{ background: url("../images/tmaintaince.png") no-repeat scroll 0 0;}


.right-banner {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    float: right;
    padding: 25px;
    width: 372px;
}
.formsmall-text.pull-right{float:right;}
.formsmall-text {
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    float: left;
    height: 38px;
    line-height: 38px;
    padding: 0 5px;
    width: 45%;margin-bottom: 12px;
}
.formfull-text{
 border: 1px solid #c8c8c8;
    border-radius: 2px;
    float: left;
    height: 38px;
    line-height: 38px;
    padding: 0 5px;margin-bottom: 12px;
    width:97%;
}


.right-banner span {
    color: #00659f !important;
    float: none;
    font-size: 13px;
    padding: 0 0 0 6px;font-family: 'robotoregular';  
}

.dr-checkfield {
    display: block !important;
    float: left;margin-top:4px;
}

.right-banner > label {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.formsign-bttn {
    background: #00659f none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 15px;cursor:pointer;
    height: 40px;border:none;border-radius:2px;
    width: 100%; font-family: 'robotobold';
}

.right-banner > h4 {
    color: #011a28;
    font-size: 24px;
    margin-bottom: 15px;font-family: 'robotoregular';text-transform:uppercase;
}
/*---banner end---*/

/*---content start---*/
.dr-content {float: left;width: 100%;}
.signup-section h4 {color: #011a28;font-size: 24px; font-family: 'robotobold';    padding-bottom: 15px;}
.row {float: left;margin: 8px 0; width: 100%;}
.texta {border: 1px solid #c8c8c8;float: left;height: 35px;line-height: 35px;margin-right: 15px;padding: 0 5px;width: 12%;color:#011a28;font-size:14px; font-family: 'robotoregular';  border-radius: 2px;}
.textb {border: 1px solid #c8c8c8;float: left;height: 35px;line-height: 35px;margin-right: 15px;padding: 0 5px;width: 26.4%;color:#011a28;font-size:14px; font-family: 'robotoregular';  border-radius: 2px;}
.textc {border: 1px solid #c8c8c8;float: left;height: 35px;line-height: 35px;margin-right: 15px;padding: 0 5px;width:55%;color:#011a28;font-size:14px; font-family: 'robotoregular';  border-radius: 2px;}
.sub-title {color: #011a28;font-size: 16px;   font-family: 'open_sanssemibold';}
.sub-title {color: #011a28;float: left;font-family: "open_sanssemibold";font-size: 16px;padding: 16px 0 2px;}
.drupload {float: left;height: 35px;opacity: 0;width: 100%;}
.fileupload {background: #c8c8c8 url("../images/import-logo.png") center center no-repeat;float: left;height: 35px;padding: 0 5px;width: 26.4%;  border-radius: 2px;}
.signup-section {padding: 0 15px;}
.drop-down {float: left;width: 20%;}
.textd {border: 1px solid #c8c8c8;float: left;height: 35px;line-height: 35px;margin-right: 15px;padding: 0 5px;width:15.9%;color:#011a28;font-size:14px; font-family: 'robotoregular';  border-radius: 2px;}
.drop-down {background:url("../images/droparrw.png") no-repeat scroll 96% center;border: 1px solid #c8c8c8;
border-radius: 2px;float: left;height: 35px;margin-right: 15px;overflow: hidden;width: 9%;}
.drop-down select {background:none repeat scroll 0 0;border: medium none;float: left;height: 35px;
line-height: 35px;width: 117%;font-family: 'robotoregular';font-size: 14px;color:#011a28;}
.drop-down.statedropdown {width: 13.9%;}
.textd.texte {width: 11%;}
.textlabel {color: #011a28;float: left;font-size: 14px;margin-right: 15px;width: 12%; padding: 8px 0;
font-family:'open_sanssemibold';}

.checkbox.filtertext {
    color: #011a28;
    font-size: 14px;font-family: 'robotoregular';
}
.check-field {
    float: left;
    margin-right: 15px;
    width: 12%;padding: 7px 0;
}
.propertysection {
    float: left;
    margin: 50px 0 30px;
    width: 100%; border: 1px solid #c9ced1;
}

.fileupload.uploadlease {
    background: #c8c8c8 url("../images/upload-lease.png") no-repeat scroll center center;
    width: 12%;
}
.heading-tab {
    background: #c9ced1 none repeat scroll 0 0;
    float: left;
    height: 51px;
    width: 100%;
}

.heading-tab h2 {
    color: #011a28;
    float: left;
    font-size: 18px;     font-family: 'robotobold';
    padding: 14px 15px;   text-transform: uppercase;
}

.addtenant-bttn {
    background: #00659f none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    float: right;
    font-size: 15px;
    height: 42px;
    margin: 4px 15px;cursor:pointer;
    width: 210px;font-family:'open_sanssemibold';
}

.propertytabadd {
    float: left;
    padding: 20px 15px;
    width: 97.5%;
}

.namea {
    color: #011a28;
    float: left;
    font-family: "open_sansbold";
    font-size: 18px;
    padding: 0px 0 14px;   text-transform: uppercase;
}


.minus {
    background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll right 4px;
    cursor: pointer;
    float: right;
    height: 21px;
    margin-right: 2px;
    margin-top: 0;
    width: 16px;
}
.minus.drcollapse {
    background: rgba(0, 0, 0, 0) url("../images/minus.png") no-repeat scroll right 4px;
    cursor: pointer;
}
.drproperty {
    float: left;
    width: 100%;display:none;
}

.secondminus {
    background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll right 4px;
    cursor: pointer;
    float: right;
    height: 21px;
    margin-right: 2px;
    margin-top: 0;
    width: 16px;
}
.secondminus.drcollapse {
    background: rgba(0, 0, 0, 0) url("../images/minus.png") no-repeat scroll right 4px;
    cursor: pointer;
}
.secondm{
    float: left;
    width: 100%;display:none;
}
.drop-down.typedropdown {
    width: 27.2%;
}

.drop-down.commonropdown {
    width: 13%;
}


.propertytabadd hr {
    background: #ccd1d4 none repeat scroll 0 0;
    border-bottom: medium none;
    border-top: 1px solid #ccd1d4;
    float: left;
    margin: 18px 0 19px;
    width: 100%;
}

.dr-radio-bttn {
    float: left;
    width: 14.4%;   padding: 8px 0;
}

.sub-titlea {
    color: #011a28;
    float: left;
    font-family: "open_sanssemibold";
    font-size: 16px;
    padding: 0px 0 2px;
}

.bttmbttn {
    background: #00659f none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    float: left;
    font-size: 15px;
    height: 35px;
    margin-left: 14px;cursor:pointer;
    width: 26.4%;    font-family: "open_sanssemibold";
}

.tcheck {
    float: left;
    width: 100%;
}
.checkbox {
    color: #011a28;
    font-size: 16px; font-family: 'robotobold';
}

.checkbox > span {
    color: #676f75; font-family: 'robotoregular';
}

.row.paddingright {
    margin-left: 29px;
    width: auto;
}






/*--radio-bttn start*--*/


.radio {
    color: #011a28;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 18px; margin-right: 21px;
    margin-right: 10px;     font-family: 'robotoregular';
}
input[type=radio] {
	display: none;
}
.radio::before {
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 0 0 rgba(255, 255, 255, 0.8);
    color: #000;
    content: "";
    display: inline-block;
    font-size: 30px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    width: 18px; margin-right: 6px;
}
input[type=radio]:checked + .radio:before {
	content: "\2022";
}
/*--radio end--*/
/*--checkbox--*/
input[type=checkbox] {
 display:none;	
}
.checkbox:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align:middle;
	border:2px #000 solid;
	color: #000;
	text-align: center;
		
	border-radius: 3px;
}
input[type=checkbox]:checked + .checkbox:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 13px;
}

/*--checkbox--*/
/*---content end---*/

/*--footer start--*/
footer {
    background: #788c98 ;
    float: left;
    padding: 45px 0 40px;
    width: 100%;
}

.social-link {
    float: right;
    margin:6px 0 14px;
    width: auto;
}


.fttr-block .social-link > li {
    border: medium none;
    float: left;
    margin-right: 8px;
    width: auto;
}

.social-link a {
    background: #c2cbd1;
    border-radius: 50px;
    float: left;
    height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
}
.social-link a i {
    color: #ffffff;
    font-size: 22px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.fttr-block {
    float: left;
    width: 25%;
}

.fttr-block ul {
    float: left;
    width: 86%;
}

.fttr-block ul li {
    border-bottom:1px solid #93a3ad;
    float: left;
    padding: 9px 0;
    width: 100%;
}

.fttr-block ul li:last-child {
    border: medium none;
}
.fttr-block ul li a {
    color: #ffffff;
    font-size: 13px;     font-family: 'robotoregular';
}

.fttr-block p {
    color: #ffffff;
    float: left;
    font-size: 13px;
    width: 92%;font-family: 'robotoregular';
}

.fttr-block > h4 {
    color: #ffffff; padding-top: 7px;text-transform: uppercase;
    font-size: 14px;  font-family: "open_sanssemibold";
}

.dremail {
    float: left;
    height: 35px;
    line-height: 35px;
    margin: 21px 0 10px;
    padding: 0 5px;
    width: 84%;
}

.dremail {
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin: 21px 0 10px;
    padding: 0 5px;
    width: 84%;   font-family: 'robotobold';
}

.subscribe {
    border: 1px solid #ffffff;
    color: #ffffff;
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: center;text-transform: uppercase;
    width: 120px;  font-family: "open_sanssemibold";
}
/*--footer end--*/


/*----home page start----*/



.howit-works {
    float: left;
    padding: 50px 0;
    width: 100%;
}

.drwork-text {
    float: left;
    width: 51%;
}

.dr-rightvideo {
    float: right;
}

.drwork-text h5 {
    color: #011a28;
    font-size: 30px;
    margin-bottom: 8px;  font-family: 'robotoregular';
}
.drwork-text p{
    color: #011a28;
    font-size:18px;
    margin-bottom: 8px;      font-family: 'robotolight';
}

.drwork-text > a {
    background: rgba(0, 0, 0, 0) url("../images/learn-more.png") no-repeat scroll 0 6px;
    color: #00659f;
    float: left;
    font-size: 18px;
    margin-top: 6px;font-family: 'robotolight';
    padding: 7px 0 11px 39px;
}
/*  My-Lease */
.navbar {
    background-color: #00659f;
    border: medium none !important;
    border-radius: 0 !important;
    float: left;
    margin-bottom: -1px !important;
    min-height: auto !important;
    width: 100%;
}
.my-header{border:0px; padding: 0px;}
.my-navbar {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.btn-part a:focus, .btn-part a:hover {
    color:#fff !important;
    text-decoration: none !important;
}
.my-navbar > li {
    float: left;
    width: 193.8px;
    list-style: outside none none;
    border-left: 1px solid #015485; 
    text-align: center;
    position: relative;
      
}

.my-navbar > li > a {
  
    color: #ffffff;
    float: none;
    font-family: "robotoregular";
    font-size: 14px;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}
.my-navbar > li:last-child {
    border-right: 1px solid #015485;
}
.my-navbar > li.active , .my-navbar > li:hover {background-color: #fff;transition: 0.5s}
.my-navbar > li.active  a , .my-navbar > li:hover a{color: #00659f;}
.my-navbar > li:first-child > a::before {    background-image: url("../images/dashboard.png");     background-repeat: no-repeat;    content: "";    height: 28px;    left: 15px;    position: absolute;    top: 25px;    width: 29px;}
.my-navbar > li.active:nth-child(1) > a::before , .my-navbar > li:nth-child(1):hover > a::before { background-position: 0px -30px; transition: 0.5s}
.my-navbar > li:nth-child(2) > a::before {    background-image: url("../images/palces.png");    background-repeat: no-repeat;    content: "";    height: 28px;    left: 15px;  top:25px;  position: absolute;    width: 29px;}
.my-navbar > li.active:nth-child(2) > a::before , .my-navbar > li:nth-child(2):hover > a::before { background-position: 0px -30px;  transition: 0.5s}
.my-navbar > li:nth-child(3) > a::before {    background-image: url("../images/user.png");    background-repeat: no-repeat;    content: "";    height: 28px;    left: 30px;  top:25px;  position: absolute;    width: 29px;}
.my-navbar > li.active:nth-child(3) > a::before , .my-navbar > li:nth-child(3):hover > a::before { background-position: 0px -35px;  transition: 0.5s}
.my-navbar > li:nth-child(4) > a::before {    background-image: url("../images/edit.png");    background-repeat: no-repeat;    content: "";    height: 28px;    left: 40px;  top:25px;  position: absolute;    width: 29px;}
.my-navbar > li.active:nth-child(4) > a::before , .my-navbar > li:nth-child(4):hover > a::before { background-position: 0px -30px;  transition: 0.5s}
.my-navbar > li:nth-child(5) > a::before {    background-image: url("../images/msg.png");    background-repeat: no-repeat;    content: "";    height: 28px;    left: 20px;  top:25px;  position: absolute;    width: 32px;}
.my-navbar > li.active:nth-child(5) > a::before , .my-navbar > li:nth-child(5):hover > a::before { background-position: 0px -33px;  transition: 0.5s}
.my-navbar > li:nth-child(6) > a::before {    background-image: url("../images/vendor.png");    background-repeat: no-repeat;    content: "";    height: 28px;    left: 30px;  top:30px;  position: absolute;    width: 27px;}
.my-navbar > li.active:nth-child(6) > a::before , .my-navbar > li:nth-child(6):hover > a::before { background-position: 0px -35px;  transition: 0.5s}
section.lease-part {
    background-color: #f7f7f7;
    float: left;
    margin: 0;
    padding: 50px 0;
    width: 100%;
}
.my-tab1 {
    float: left;
    width:260px;
}

.my-tab.ui-tabs-nav {
    float: left;
    width:100%;
        margin-top: 20px;
}
.my-tab.ui-tabs-nav  li{
  
    background-color: #f7f7f7;
    border-bottom-left-radius: 5px;
    border-color: #f7f7f7  #f7f7f7 #f7f7f7;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    box-sizing: border-box;
    display: block;
    float: none;
    margin-bottom: -1px;
    padding: 0 15px;
    width: 100%;
    position: relative
}
.summary {
    background-image: url("../images/sumary.png");
    background-position: 20px center;
    background-repeat: no-repeat;
    padding-left: 45px !important;
}

.my-tab.ui-tabs-nav  li.active a {

    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-color: #e2e2e4  #e2e2e4 #e2e2e4;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    margin: 0 -15px -2px;
    padding: 22px 15px;
    position: relative;
    z-index: 9;
      background-color: #ffffff;
}
.my-tab.ui-tabs-nav li:hover a {
    background-color: #ffffff;
    border: 1px solid #e2e2e4 ;
      margin: 0 -15px -2px;
    padding: 22px 15px;
    position: relative;
    z-index: 9;
    border-right: 0px;
        border-top-left-radius: 5px;   
        border-top-right-radius: 5px;
        
}
.my-tab.ui-tabs-nav  li:hover a{
  
    color: #000;
}
.my-tab.ui-tabs-nav a {
    border-top: 1px solid #e2e2e4;
    color: #123042;
    display: block;
    float: none;
    font-family: "robotoregular";
    font-size: 14px;
    padding: 20px 0;
    width: auto;
}
.tab-area {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: -1px 1px 0 #dbdbdb;
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 910px;
    min-height: 440px;
    
}

table.my-table {
    box-sizing: border-box;
    float: left;
    width: 100%;
     border-collapse: collapse;
}

.table-content {
    float: left;
    width: 100%;
    border: 1px solid #fdfdfd;
    border-radius: 5px;
    float: left;
    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;
    
}
table.my-table th {
   
    background-image: url("../images/table-bg.png");
    background-position: 0 0;
    background-repeat: repeat;
    border-color: #dbdbdb #dbdbdb ;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #3f5867;
    font-size: 14px;
    padding: 15px ;
    font-family: 'robotoregular';
    text-align: left


}
table.my-table td {
    
    background-position: 0 0;
    background-repeat: repeat;
    border-color: #dbdbdb #dbdbdb ;
    
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #000;
    font-size: 14px;
    padding: 20px 15px;
     font-family: 'robotoregular';
     text-align: center;
     box-sizing: border-box;
  
}
table.my-table tr:last-child td{border-bottom: 1px solid #dbdbdb} 

.my-table a {
    color: #3f5867;
    float: left;
    text-align: left !important;
    text-decoration: underline;
    width: 100%;
}
.my-table li {
    float: none;
    margin-right: 10px;
    display: inline-block;
}
.my-table li a{
   float: left;
   padding: 10px 20px 10px 30px;
   text-align: center;
   text-transform: uppercase;
   color: #fff;
   text-decoration: none;
   border-radius: 3px;
}
.my-table ul {
    display: block;
    float: none;
    text-align: left;
    width: 100%;
}
.document {
    background-color: #00659f ;
    background-image: url('../images/doc.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 128px !important;
    
}
.upload {
    background-color:  #123042 ;
     background-image: url('../images/upload.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 107px !important;
    
    
}
.right-header > ul.profile {
    float: right;
}
.profile > li:first-child{margin-right: 10px}
.profile > li {    display: inline-block;    float: none;    vertical-align: middle; }
.profile > li a {
    color: #00659f;
    display: inline-block;
    font-family: "robotoregular";
    position: relative;
    width: 100px;
}
.profile > li a::after {
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    content: "";
    height: 10px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 15px;
}

.container-fulid {
    float: left;
    padding: 0 20px;
    width: 100%;
}

.btn-tenant {
    background-color: #00659f;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 15px;
    height: 45px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    width: 222px; 
  font-family: 'Open Sans', sans-serif;
    text-transform: uppercase; 
    font-weight: bold;
    
}
.btn-tenant  i{margin-right: 10px}


.tenant1 li {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 1px 2px 0 #d9d9d9;
    float: left;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
}
.tenant > ul.tenant1 {
    float: left;
    width: 100%;
}
.tenant > ul.tenant2 {
    float: left;
    width: 100%;
}
.tenant {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}


.tenant1  a {
    background-image: url("../images/my-user.png");
    background-position: 0 10px;
    background-repeat: no-repeat;
    border-right: 1px solid #c9cfd3;
    color: #00659f;
    display: inline-block;
    font-family: "robotoregular";
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-top: 10px;
    width: 33%;
}

.tenant1  span {
    background-image: url("../images/loc.png");
    background-position: 15px 12px;
    background-repeat: no-repeat;
    color: #123042;
    display: inline-block;
    font-family: "robotoregular";
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 10px;
    width: 66%;
}

.my-tab.ui-tabs-nav li:last-child a {
    border-bottom: 1px solid #e2e2e4;
}

.table {
    float: left;
    width: 100%;
    margin-bottom: 10px
}
table.table th {
    color: #123042;
    font-size: 16px;
    padding: 10px 15px ;
    font-family: 'robotoregular';
    text-align: left;
  
}
table.table td {
    color: #585858;
    font-size: 14px;
    padding: 20px 15px ;
    font-family: 'robotoregular';
    text-align: left;
    border-top: 1px solid #e2e2e4;
  
}
h2.lease-doc {
    border-bottom: 1px solid #e2e2e4;
    color: #000000;
    float: left;
    font-size: 16px;
    padding: 10px 15px ;
    width: 100%;
     font-family: 'robotobold';
}
.upload-file > li {
    float: left;
    margin: 20px 20px 20px 0;
    width: 120px;
}
.upload-file {
    float: left;
    margin: 0;
    width: 100%;
}

.upload-file span {
    float: left;
    text-align: center;
    width: 100%;
    font-family: 'robotoregular';
    font-size: 16px;
    padding-top: 5px;
}

.browse > input {
    bottom: 0;
    cursor: pointer;
    font-size: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.browse {
    background-image: url("../images/broswe.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    height: 123px;
}
ul.btn-group{
    float: right;
    
}
.mr-top10{margin-top: 10px;}
.tenant1  ul.btn-group li {
    background-color:transparent;
    border-radius: 0;
    box-shadow: none;
    float: left;
    padding: 0;
    width: auto;
    margin-bottom: 0px;
    margin-left: 10px;
}
span.my-span{width: auto !important;}

.tenant1 ul.btn-group li a::before {
    background-image: url("../images/btn-pics.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: auto auto;
    content: "";
    height: 13px;
    left: 15px;
    position: absolute;
    top: 12px;
    width: 14px;
    z-index: 99;
}
.tenant1  ul.btn-group li a{
    background-image:none;
    background-position: center;
    background-repeat: no-repeat;
    border-right: 0px;
    color: #fff;
    display: inline-block;
    font-family: "robotoregular";
    font-size: 14px;
    padding:10px 20px 10px 35px ;
    width: auto;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}
.blue-col{background-color: #123042}
.green-col{background-color: #0d6f06}
.red-col{background-color: #d43939; }
.sky-blue-col{background-color: #00659f}
.tenant1 ul.btn-group li a.red-col::before{background-position: -15px  0}
.tenant1 ul.btn-group li a.sky-blue-col::before{background-position: -30px  0}
.tenant2 ul.btn-group li.documnt a.green-col::before{background-position: -50px  0}

.my-list span {    float: left;    width: 20%; padding-right: 20px;}
.my-list{float: left; width:100%;   border-bottom: 1px solid #e2e2e4; padding: 10px 0}
.my-list li{float: left; width:100% ; margin-bottom: 10px;}
label {    float: left;    width: 100%; padding-bottom: 5px;}
label.label1 {    color: #123042;    font-size: 14px; font-family: "robotoregular";}
label.label2{    color: #585858;    font-size: 14px; font-family: "robotoregular";}
.tenant2  span {
    background-image: url("../images/loc1.png");
    background-position: 15px 12px;
    background-repeat: no-repeat;
    color: #123042;
    display: inline-block;
    font-family: "robotoregular";
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-top: 10px;
    width: 66%;
      line-height: 22px;
          margin-bottom: 5px;
}
.tenant2 li {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 1px 2px 0 #d9d9d9;
    float: left;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
}
.tenant2  ul.btn-group li {
    background-color:transparent;
    border-radius: 0;
    box-shadow: none;
    float: left;
    padding: 0;
    width: auto;
    margin-bottom: 0px;
    margin-left: 10px;
}
span.my-span{width: auto !important;}

.tenant2 ul.btn-group li a::before {
    background-image: url("../images/btn-pics.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: auto auto;
    content: "";
    height: 17px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 14px;
    z-index: 99;
}
.tenant2  ul.btn-group li a{
    background-image:none;
    background-position: center;
    background-repeat: no-repeat;
    border-right: 0px;
    color: #fff;
    display: inline-block;
    font-family: "robotoregular";
    font-size: 14px;
    padding:10px 20px 10px 35px ;
    width: auto;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}
.select-grp > li {
    float: left;
    width: 33.33%;
}

.select-grp {
    border-top: 2px solid #e5e8e9;
    float: left;
    margin-top: 10px;
    padding: 25px 0;
    width: 100%;
    position: relative;
}


select.form-control {
    -moz-appearance: none;
       -webkit-appearance: none;
    background-image: url("../images/arrow.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: auto auto;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #676f75;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    height: 40px;
    padding: 6px 10px;
    width: 265px;
}


h2.my-txt {
   
    float: left;
    font-family: "robotobold";
    font-size: 16px;
    margin-top: 5px;
   
    text-transform: uppercase;
    width: 100%;
}
input.form-control {
   
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #676f75;
    float: left;
    font-family: "robotoregular";
    font-size: 14px;
    height: 40px;
    padding: 10px;
    width: 265px;
}

.cross {
    background-image: url("../images/cross.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    position: absolute;
    right: 0;
    width: 15px;
}

.select-grp.border-line {
    border-bottom: 1px solid #e2e2e4;
}

.mr-btm30{margin-bottom: 30px;}
.mr-btm0{margin-bottom: 0px !important; }
button.edit-btn {
    background: #00659f none repeat scroll 0 0;
    border: 1px solid;
    color: #ffffff;
    float: left;
    font-family: "robotobold";
    font-size: 14px;
    height: 40px;
    margin-top: 20px;
    padding: 7px 25px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    border-radius: 3px;
}
button.edit-btn i {
    margin-right: 5px;
}

.select-grp.border-line.safty-block > li {
    margin-bottom: 15px;
    width: 100%;
}
.edit-btn.right-pull {
    float: right;
    margin: 0;
}
.edit-btn.edit{width:128px; position: relative}

.edit-btn.edit::before {
    background-image: url("../images/btn-pics.png");
    background-position: -30px 18px;
    content: "";
    height: 18px;
    left: 15px;
    position: absolute;
    width: 15px;
}

.breadcrumb {
    background: #ececec none repeat scroll 0 0;
    border-top: 1px solid #00659f;
    float: left;
    padding: 20px 0;
    width: 100%;
}
.heading {
    float: left;
    width: 100%;
}

.heading > span {
    float: left;
    margin-top: -20px;
    text-align: center;
    width: 100%;
      font-family: "robotoregular";
}

.heading > span {
    color: #123042;
    float: left;
    font-size: 22px;
    margin-top: -30px;
    text-align: center;
    width: 100%;
}
.heading > label > span , .heading > span > span{color:#00659f;}

.heading > label {
    float: left;
    font-family: "robotoregular";
    font-size: 17px;
    font-style: italic;
    width: 28%;
    padding: 0px;
}
.level{background-color: #fbfbfb; min-height: 83px; float: left; width:100%}

.level-indicator > img {
    bottom: -26px;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.level-indicator {
    float: left;
    height: 83px;
    position: relative;
    text-align: center;
    width: 100%;
}

.my-panel {
    border: 1px solid #ccdee9;
    float: left;
   
    width: 100%; 
    margin-bottom:  50px;
    
}

.tenant-txt {
    float: left;
    font-size: 26px;
    margin: 120px 0 10px;
    width: 100%;
      font-family: "robotobold"; 
}

.panel-head {
    background: #ccdee9 none repeat scroll 0 0;
    float: left;
    min-height: 44px;
    padding: 10px 15px;
    width: 100%;
	border-bottom:1px solid #fff;;
}

.panel-title {
    float: left;
    width: 100%;
    position: relative;
}
 .panel-title h1 {
    color: #011a28;
    float: left;
    font-size: 17px;
    text-transform: uppercase;
     font-family: "robotobold";
}
.sub-panel-head label  {
    color: #011a28;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
     font-family: "robotobold";
}

.sub-panel-head {
    background: #f5f8fb none repeat scroll 0 0;
    float: left;
    padding: 10px 15px;
    width: 100%;
}

.panel-title::after {
    background-image: url("../images/up-arrow.png");
    background-repeat: no-repeat;
    content: "";
    height: 27px;
    position: absolute;
    right: 0;
    width: 27px;
}
.ui-accordion-header-active .panel-title::after {transform:rotate(180deg); transition:0.8s;}
.panel-body {
    float: left;
    padding: 10px 15px;
    width: 100%;
    position: relative;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 18px; height: 18px;
  border: 1px solid #7b8991;
  background: #fff;
  border-radius: 3px;

}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content:"";
  position: absolute;
  top: 7px; left: 5px;
  font-size: 14px;
  color: #000;
  font-family: 'FontAwesome';
  transition: all .2s;
  background-image: url('../images/tick.png');
  height: 11px;
  width: 11px;
   background-position: center center;
    background-size: auto auto;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #00;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #000 !important;
}



.form-control.my-txt-fleid {
    margin-right: 20px;
    width: 320px;
    font-size: 14px;
}
.form-control.my-txt-fleid {
    box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
    
    width: 100%;
}
.form-group > li {
    float: left;
    width: 340px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.form-group1 > div.my-div {
    float: left;
    width: 340px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.form-group {float: left; width:100%; 
    border-bottom: 1px solid #e2e2e4;}
.form-group1 {float: left; width:100%; }
.form-control.width50{width:150px; }

.upload-btn {
    background: #c8c8c8 none repeat scroll 0 0;
    border: 1px solid #bcbbbb;
    border-radius: 3px;
    color: #011a28;
    display: inline-block;
    float: none;
    font-size: 14px;
    height: 40px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 150px;
     font-family: 'robotobold';
     position: relative;
}

.upload-btn::after {
    background-image: url("../images/upload-blk.png");
    background-position: center center;
    content: "";
    height: 13px;
    left: 10px;
    position: absolute;
    top: 13px;
    width: 11px;
}
.mr-rite0{margin-right: 0px !important}

.next {
    background: #00659f none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 22px;
    height: 58px;
    margin: 0 auto 50px;
    padding: 15px;
    text-align: center;
    width: 350px;
   font-family: 'robotoregular';
   text-transform: uppercase;
}
.center {
    float: left;
    text-align: center;
    width: 100%;
}

.cross1 {
    position: absolute;
    right: 10px;
    top: 10px;
}


.level-indicator li {
  
    display: inline-block;
    float: none;
    padding: 0;
    text-align: center;
    width: 25%;
    font-size: 16px;
    color:#515151;
     font-family: 'robotoregular';
}

li.blue-col1{color: #00659f }
.level-indicator > ul {
    bottom: -60px;
    float: left;
    padding: 0;
    position: absolute;
    width: 100%;
}
.signup-3 {
    background: #f5f8fb none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    margin-top: 140px;
    padding: 30px;
    width: 100%;
}
.my-check [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.my-check [type="checkbox"]:not(:checked) + label,
 .my-check [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

/* checkbox aspect */
 .my-check [type="checkbox"]:not(:checked) + label:before,
 .my-check [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0px;
  width: 26px; height: 26px;
  border: 2px solid #00659f;
  background: #fff;
  border-radius: 5px;

}
/* checked mark aspect */
 .my-check [type="checkbox"]:not(:checked) + label:after,
 .my-check [type="checkbox"]:checked + label:after {
  content:"";
  position: absolute;
  top: 7px; left: 5px;
  font-size: 14px;
  color: #000;
  font-family: 'FontAwesome';
  transition: all .2s;
  background-image: url('../images/tick1.png');
  height: 16px;
  width: 16px;
   background-position: center center;
    background-size: auto auto;
}
/* checked mark aspect changes */
 .my-check [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
 .my-check [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
 .my-check [type="checkbox"]:disabled:not(:checked) + label:before,
 .my-check [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
 .my-check [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
 .my-check [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
  .my-check [type="checkbox"]:checked:focus + label:before,
 .my-check [type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #00659f;
}


/* hover style just for information */
 .my-check  label:hover:before {
  border: 2px solid #00659f !important;
}

.my-check {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.my-check  label{ font-family: 'robotoregular'; font-size: 18px; color: #011a28}

.my-check span {
    color: #7b8185;
}
.signup-table table tr td {
color: #585858; text-align: left;
}

.signup {
    float: left;
    margin: 50px 0 10px;
    width: 100%;
}
.signup h2{font-size: 16px;  color: #00659f; float: left;  font-family: 'robotobold'; padding: 10px 0 0;}

.signup .btn-tenant {    float: right;    font-size: 14px;    width: 150px;}

.border-line1 {    border-top: 1px solid #e6e6e6;    float: left;    margin: 10px 0 50px;    width: 100%;}
.my-tenant-btn .next {
    margin-right: 15px;
}

.my-link { color: #a3a3a3;    font-size: 18px;    text-transform: uppercase;  font-family: 'robotoregular'; margin-left: 20px; text-decoration: underline;}
.my-link:hover{color:#00659F; transition: 0.5s }

.end-block {
    background-color: #fbfbfb;
    float: left;
    min-height: 50px;
    width: 100%;
}

section.signup-section2 {
    float: left;
    width: 100%;
}
.my-tenant-btn a {
    margin-bottom: 30px;
}

.popup-block {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
.my-popup{ position: relative; margin: 0px auto; width:700px;top: 100PX }
.popup-cont {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0 none;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
     float: left; width:100%
}
.popup-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px;
    padding: 15px;
}
.popup-body {
    padding: 15px;
    position: relative;
    float: left; width:100%
        
}
.popup-footer {
    padding: 15px;
    position: relative;
}

.popup-body > h2 {
    float: left;
    font-size: 26px;
   font-family: 'robotolight';
    text-align: center;
    width: 100%;
}
.popup-body > h2 > span{font-family: 'robotoregular';}
.popup-body > p {
    float: left;
    font-size: 15px;
    text-align: center;
    font-family: 'robotolight';
    width: 100%;
   color: #737373;
   margin: 10px 0 35px
}

.mr-top20{margin-top: 20px;}
.speed-icon {
    background-image: url("../images/speed.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #00659f;
    border-radius: 50%;
    display: inline-block;
    height: 108px;
    position: relative;
    width: 108px;
    margin: 40px 0 10px;
}
.t-icon {
    background-image: url("../images/t.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #00659f;
    border-radius: 50%;
    display: inline-block;
    height: 108px;
    position: relative;
    width: 108px;
    margin: 40px 0 10px;
}
.popup-footer {
    background-color: #f3f3f3;
    float: left;
    padding: 15px;
    position: relative;
    width: 100%;   border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
}

.popup-footer .center a {
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-family: "robotobold";
    font-size: 15px;
    height: 40px;
  
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 130px;
    margin: 2px 10px;
}
.yes{background-color: #00659f}
.no{background-color: #ff3535}

.overlay::after {
    background-image: url("../images/overlay.png");
    background-repeat: repeat;
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.close {
    background-image: url("../images/clsoe.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 10px;
    top: 10px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    position: absolute;
    z-index: 10px;
    z-index: 10;
   
}

.listing {
    display: block;
    float: none;
    text-align: center;
    width: 230px;
    margin:7px auto 35px;
  
}


.listing li {
    background-image: url("../images/green-tick.png");
    background-position:0 center;
    background-repeat: no-repeat;
    color: #737373;
    display: inline-block;
    font-family: "robotoregular";
    font-size: 15px;
    margin-top: 15px;
    padding-left: 20px;
    width: 100%;
    text-align: left;
}
.back{background-color: #c2c2c2;}
.checkout{background-color: #00659f;}
.popup-body h3 {
    border-bottom: 2px solid #e5e5e5;
    float: left;
    font-size: 20px;
    padding: 0px 0 10px;
    width: 100%;
     font-family: "robotobold";
}

.popup-form {
    float: left;
    padding: 35px;
    width: 100%;
}

.my-form-group {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.half-wdth {
    float: left;
    width: 50%;
    
}

.my-fleid {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    float: left;
    height: 40px;
    width: 290px;
}

.form-control.my-fleid {    width: 290px;}
.form-control.my-fleid.right-pull{float: right}
.form-control.my-fleid1 {    width: 130px;}
.right-pull{float: right !important;}
.mr-lft10{margin-left: 10px;}
select.my-select {    width: 130px;margin-right: 10px;}

.popup-form form {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.my-radio [type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
.my-radio [type="radio"]:not(:checked) + label,
 .my-radio [type="radio"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

/* checkbox aspect */

.my-radio [type="radio"]:not(:checked) + label::before, .my-radio [type="radio"]:checked + label::before {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #000000;
    border-radius: 50%;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 20px;
}
/* checked mark aspect */
 .my-radio [type="radio"]:not(:checked) + label:after,
 .my-radio [type="radio"]:checked + label:after {
  content:"";
  position: absolute;
  top: 4px; left: 6px;

    border-radius: 50%;
  transition: all .2s;
  background-image: url('../images/radio.png');
  height: 12px;
  width: 12px;
   background-position: center center;
    background-size: auto auto;
}
/* checked mark aspect changes */
 .my-radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
 .my-radio [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
 .my-radio [type="radio"]:disabled:not(:checked) + label:before,
 .my-radio [type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
 .my-radio [type="radio"]:disabled:checked + label:after {
  color: #999;
}
 .my-radio [type="radio"]:disabled + label {
  color: #aaa;
}
/* accessibility */
  .my-radio [type="radio"]:checked:focus + label:before,
 .my-radio [type="radio"]:not(:checked):focus + label:before {
  border: 2px solid #000;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #000 !important;
}.my-radio > label {
    display: inline !important;
    margin-right: 10px;
    width: auto;
} 

.my-radio {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 8px;
    text-transform: uppercase;
}
.my-div.width150 {
  
    width: 150px !important;
}

.my-div > label {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    width: auto;
     font-family: 'robotobold';
     color: #676f75;
     font-size: 14px;
}
.my-div.last-filed {
    padding: 0 !important;
    width: 320px !important;
}
.my-div.custom-width {
    padding: 0 !important;
    width: 320px !important;
}

.my-panel.my-panel1 {
    border: 0 none;
    position: relative;
}

.my-panel.my-panel1 .panel-head {
    background: #f5f8fb none repeat scroll 0 0;
    border-bottom: 1px solid #dcdcdc;
}
.my-panel1 .panel-body {
    padding: 25px 0 0;
}
.my-div.width150 > label{color: #011a28}
.add-btn {
    background: #00659f none repeat scroll 0 0;
    border: 1px solid #005586;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-family: "robotobold";
    font-size: 16px;
    height: 40px;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}
button.my-upload-btn {
   
    border: 1px solid #bcbbbb;
    height: 40px;
    text-transform: uppercase;
     font-family: "robotobold";
     background: #c8c8c8 url("../images/upload1.png") no-repeat scroll 15% center;
     border-radius: 3px;
}

.listing li.my-cross {
    background-image: url("../images/cross.png");
}

.dr-testimonial {
    background-color: #ebf3f7;
    float: left;
    padding: 50px 0;
    width: 100%;
}

.dr-testimonial h2 {
    color: #8897a0;
    float: left;
    font-size: 36px;
    text-align: center;
        margin-bottom: 68px;
    width: 100%;
     font-family: "robotobold";
}

.testimonial {
    background-color: #ffffff;
    background-image: url("../images/left-quote.png");
    background-position: 30px 30px;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 2px 0 #c8cfd0;
    float: left;
    height: 162px;
    padding: 30px 30px 30px 160px;
    width: 100%;
}


.testimonial p {
    color: #011a28;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: -5px;
    width: 100%;
}
.client-name {
    color: #00659f;
    float: left;
    font-size: 14px;
    font-style: italic;
    width: 100%;
     font-family: "robotobold";
}
.testimonial1 {
    background-color: transparent;
    background-image: url("../images/right-quote.png");
    background-position:97% 30px;
    background-repeat: no-repeat;
    border-radius: 5px;
    text-align: right;
    float: left;
    height: 162px;
    padding: 30px 160px 30px 30px;
    width: 100%;
    margin-top: 30px;
}


.testimonial1 p {
    color: #011a28;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: -5px;
    width: 100%;
}

.container.test-part {
    max-width: 1040px;
}
.right-banner .form-group1 .my-div{margin-bottom: 10px;}
.right-banner .form-group1 .my-div label{margin-top: 0px; }
.check [type="checkbox"]:not(:checked), [type="checkbox"]:checked {  position: absolute;  left: -9999px;}
.check [type="checkbox"]:not(:checked) + label, .check [type="checkbox"]:checked + label {  position: relative;  padding-left: 25px;  cursor: pointer;}

/* checkbox aspect */
 .check [type="checkbox"]:not(:checked) + label:before, .check [type="checkbox"]:checked + label:before {  content: '';
  position: absolute;  left:0; top: 0px;  width: 16px; height: 16px;  border: 1px solid #c8c8c8;  background: #fff;  border-radius: 3px;
}
/* checked mark aspect */
 .check [type="checkbox"]:not(:checked) + label:after,
 .check [type="checkbox"]:checked + label:after {
  content:"";
  position: absolute;
  top: 5px; left: 5px;
  font-size: 14px;
  color: #000;
  font-family: 'FontAwesome';
  transition: all .2s;
  background-image: url('../images/check2.png');
  height: 8px;
  width: 7px;
 background-position: center center;
  background-size: auto auto;
}
/* checked mark aspect changes */
 .check [type="checkbox"]:not(:checked) + label:after {  opacity: 0;  transform: scale(0);}
 .check [type="checkbox"]:checked + label:after {  opacity: 1;  transform: scale(1);}
/* disabled checkbox */
 .check [type="checkbox"]:disabled:not(:checked) + label:before,
 .check [type="checkbox"]:disabled:checked + label:before {  box-shadow: none;  border-color: #bbb;  background-color: #ddd;}
 .check [type="checkbox"]:disabled:checked + label:after {  color: #999;}
 .check [type="checkbox"]:disabled + label {  color: #aaa;}
 .check [type="checkbox"]:checked:focus + label:before, .my-check [type="checkbox"]:not(:checked):focus + label:before {  border:1px solid #c8c8c8;}
 .check   label:hover:before {  border:1px solid #c8c8c8 !important;}
 .check > label{font-size: 13px; font-family: "robotoregular";}
 .check label span {    padding: 0 !important;}
 .changecolor{padding-left: 5px; color: #00659f}
 .btn-tenant.add-property{width: 190px;}
 
.togle .check::before {
    background-image: url("../images/toggle.png");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: 60px 23px;
    content: "";
    float: left;
    height: 30px;
    position: absolute;
    top: 1px;
    width: 30px;
    
}

.togle {
    border: 1px solid #e2e2e4;
    border-radius: 50px;
    display: block;
    height: 30px;
    position: relative;
    width: 65px;
    margin: 0 auto;
}

.stop .check::before {
    background-position: 100% center;
    right: 2px;
    top: 0;
}
.dashboard-table table th {
    text-align: center !important;
}
.dashboard-table table tr th:first-child  {
    text-align: left !important;
}
.dashboard-table table tr th:last-child  {
   text-decoration: underline;
}
.dashboard-table table tr th:nth-child(6)  {
   text-decoration: underline;
}
.dashboard-table table td a {
    text-align: center !important;
}
.dashboard-table table tr td:first-child a {
    text-align: left !important;
}
.zero {
    background-image: url("../images/zero.png");
    background-position: 80% center;
    background-repeat: no-repeat;
    background-size: auto auto;
}

.block-area {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-block {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin-right: 40px;
   padding: 20px;
    width: 260px;
    border-radius: 3px; box-shadow: 0px 1px 0px #d3d3d3;
}

section.dashborad-page {
    background-color: #f7f7f7;
}
.dashboard-table td {
    background-color: #ffffff;
}
.my-block > h1 {
    color: #00659f;
    float: left;
    font-family: open sans;
    font-size: 60px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    width: 100%;
}

.my-block > p {
    float: left;
    font-family: open sans;
    font-size: 14px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: #5e5e5e;
}
.btn-part {
    float: left;
    width: auto;
}

.btn-part {
    border: 1px solid #c6c6c6;
    float: left;
    width: 325px;
    border-radius: 3px;
}


.btn-part a {
    background: #00659f none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-family: open sans;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}
.btn-part a.unactive {
    background-image: url("../images/btn.png");
    background-repeat: repeat;
    background-size: auto 50px;
    color: #000;
}
.left {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.right {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.unactive.right.active {
    background-image: none;
    color: #ffffff;
}
.table-content.signup-table.dashboard-table{margin-top: 10px;}

.btn-tenant.my-btn-tennt {
    display: inline-block;
    margin: 50px 22% 0;
}
table.my-table th a.dash-pop{color: #3f5867; font-family: "robotoregular"; font-size: 14px; text-align: center !important;    font-weight: bold;}

.form-control.tenant-txtfield {
    height: 36px;
    width: 100%;
}

h3.tnt {
    color: #00659f;
   font-family: "robotobold";
    font-size: 28px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
  
}
.border0{border:0px;}


.my-dropdown {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 20px;
    top: 65px;
    width: 150px;
    z-index: 10;
    display: none;
}
.my-dropdown > li {
    border-bottom: 1px solid #e2e2e4;
    float: left;
    width: 100%;
}
.my-dropdown > li:last-child{border:0px;}
.my-dropdown a::after {
    background-image: none !important;
}
.my-dropdown a {
    color: #555555 !important;
    font-size: 13px;
    padding: 10px 20px;
}
.my-dropdown > li:hover{background: #00659F; transition: 0.5s}
.my-dropdown > li:hover a{color: #fff !important;}
.save {
    color: #555555 !important;
    text-decoration: underline;
    width: auto !important;
}
.list-pop{width:245px;}
.save:hover{color: #00659f !important; transition: 0.5s;}

.table-txt {
    border: 0 none;
    float: left;
    width: 100%;
    color: #585858;
    font-family: "robotoregular";
    font-size: 14px;
}

.form-control.table-select {
    display: inline-block;
    float: none;
    max-width: 100px;
}


span a.edit {
    background: #00659f none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    float: none;
    font-family: "robotoregular";
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 20px;
    text-align: center !important;
    text-decoration: none;
    width: auto;
}

span a.save {
    background: #ff0d0d none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff !important;
    display: inline-block;
    float: none;
    font-family: "robotoregular";
    font-size: 14px;
    margin: 0 auto;
    padding: 5px 20px;
    text-align: center !important;
    text-decoration: none;
    width: auto;
}

/*************** CSS for bootstrap success and failure by Rakesh kumar ***********************************/

/***
Customized Bootstrap Alerts
***/
.alert {
  border-width: 1px;
}
.alert.alert-borderless {
  border: 0;
}

/***
Bootstrap Alerts
***/
.alert-success{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d !important;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c !important;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269 !important;
}

.alert-warning{
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b !important;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c !important;
}

.alert-danger{
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
  color: #a94442 !important;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534 !important;
}
.display-hide {
    display: none;
}
/***
Customized Bootstrap Close Icon 
***/
.close-message {
    background-image: url("../images/remove-icon-small.png") !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin-right: 10px;
    margin-top: 4px;
    outline: medium none;
    text-indent: -10000px;
    width: 11px;
    color: #000;
    float: right !important;
    font-size: 21px!important;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}

.close-message:hover{
    color:red !important;
    text-decoration: none;
}
.hide {
    display: none !important;
}
.ajax_message{
margin-left:10px;
padding:10px;
}

.no-record{
color:black;
font-size: 21px;
}

.panel-title.open::after {
    transform: rotate(180deg);
	  -webkit-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
		 -moz-transform: rotate(180deg);
    transition: all 0.8s ease 0s;
}
